{% extends "base.html" %}
{% load static waffle_tags %}

{% block main_content_wrapper %}<div class="library-subpage {% if is_flagship_lib %}is_flagship{% endif %}">{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% static 'css/v3/library-subpage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {% with cpp_ver=library_version.get_cpp_standard_minimum_display|default:"C++03" %}
    {% with added_text=object.first_boost_version.display_name %}
      {% if is_flagship_lib %}
        {% include "v3/includes/_hero_library.html" with title=object.display_name description=library_version.description|default:object.description category_tags=category_tags_v3 version_tag=cpp_ver added_text=added_text doc_url=documentation_url source_url=github_url slack_url=slack_url github_url=object.github_issues_url is_flagship_lib=True hero_image_url_light=library_hero_image_url_light hero_image_url_dark=library_hero_image_url_dark %}
      {% else %}
        {% include "v3/includes/_hero_library.html" with title=object.display_name description=library_version.description|default:object.description category_tags=category_tags_v3 version_tag=cpp_ver added_text=added_text doc_url=documentation_url source_url=github_url slack_url=slack_url github_url=object.github_issues_url %}
      {% endif %}
    {% endwith %}
  {% endwith %}

  <div class="library-subpage-container">
    <div class="card-masonry-top">
      {% if website_adoc.about or website_adoc.designed_for %}
      <div class="masonry-col masonry-col--1">
        {% if website_adoc.about %}
        <div class="item-a">
          {% include "v3/includes/_code_block_card.html" with heading="About "|add:object.display_name description=website_adoc.about.blurb code=website_adoc.about.code.code language=website_adoc.about.code.language card_variant="neutral" button_text="Explore examples" button_url=documentation_url|default:"#" button_aria_label="Explore examples for "|add:object.display_name %}
        </div>
        {% endif %}
        {% if website_adoc.designed_for %}
        <div class="item-f">
          {% include "v3/includes/_markdown_card.html" with title="This library is designed for" html=designed_for_html %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="masonry-col masonry-col--2">
        <div class="item-b">
          {% include "v3/includes/_quick_start_card.html" with heading="Quick Start" links=quick_start_links %}
        </div>
        {% if website_adoc.install %}
        <div class="item-c">
          {% include "v3/includes/_code_block_card.html" with heading="Install" description=website_adoc.install.blurb code=website_adoc.install.code.code language=website_adoc.install.code.language card_variant="teal" %}
        </div>
        {% endif %}
        <div class="item-e">
          {% include "v3/includes/_dependencies_card.html" with dependencies=dependencies_list %}
        </div>
        {% if benchmark_sets %}
        <div class="item-g">
          {% include "v3/includes/_stats_benchmarks.html" with heading="Benchmarks" sets=benchmark_sets sized_by_parent=True %}
        </div>
        {% endif %}
      </div>
      <div class="masonry-col masonry-col--3">
        <div class="item-d item-d--desktop">
          {% include "v3/includes/_contributors_list.html" with title="Contributors: This Release" variant="release" contributors=this_release_contributors heading_level="2" %}
        </div>
      </div>
    </div>

    {% if description %}
      <div class="library-subpage__documentation">
        {% include "v3/includes/_markdown_card.html" with title="Documentation" html=description %}
      </div>
    {% endif %}

    {% if website_adoc.freeform %}
      <div class="library-subpage__freeform">
        {% include "v3/includes/_markdown_card.html" with title=website_adoc.freeform.heading html=website_adoc.freeform.html %}
      </div>
    {% endif %}

    <div class="card-masonry-bottom">
      <div class="item-d item-d--tablet">
        {% include "v3/includes/_contributors_list.html" with title="Contributors: This Release" variant="all" contributors=this_release_contributors heading_level="2" %}
      </div>
      <div class="item-a">
        {% include "v3/includes/_post_card.html" with heading="Latest "|add:object.display_name|add:" posts" items=library_posts variant="card" theme="teal" layout="horizontal" primary_cta_label="View all posts" primary_cta_url="/news/" %}
      </div>
      <div class="item-b">
        {% include "v3/includes/_mailing_list_card.html" with subscribe_url=mailing_list_card_subscribe_url modal_subscribe_url=mailing_list_card_modal_subscribe_url list_id=mailing_list_card_list_id state=mailing_list_card_state user_email=mailing_list_card_user_email manage_url=mailing_list_card_manage_url subscription_count=mailing_list_card_subscription_count error_message=mailing_list_card_error_message mailing_lists=mailing_list_card_lists subscribed_ids=mailing_list_card_subscribed_ids %}
      </div>
    </div>

    {% if all_time_contributors %}
      <div class="library-subpage__all-contributors">
        {% include "v3/includes/_contributors_list.html" with title="All Contributors" variant="all" contributors=all_time_contributors heading_level="2" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
