{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">
    <div class="md:pt-11 md:mt-11 w-full bg-white dark:bg-charcoal mx-auto rounded py-6 px-3">
      <div class="md:w-full text-center">
        <h1 class="text-4xl">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}">
              {% csrf_token %}

              <div class="mx-auto space-y-4 w-2/3" id="signup_form">
                <!-- Display non-field errors -->
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <div class="py-1 px-3 text-white bg-red-600">
                     {{ error }}
                    </div>
                  {% endfor %}
                {% endif %}

                {% for field in form.visible_fields %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <div class="text-red-600">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                  <div class="text-left">
                    <label class="text-xs uppercase text-slate dark:text-white/70">{{ field.label }}
                      {{ field }}
                    </label>
                    {% if field.help_text %}
                      <small>{{ field.help_text }}</small>
                    {% endif %}
                  </div>
                {% endfor %}

                <div class="my-3 text-center">
                  <button type="submit"
                          class="py-3 px-8 text-sm text-base font-medium text-white uppercase rounded-md border md:py-1 md:px-4 md:text-lg bg-orange hover:bg-orange/80 border-orange dark:bg-slate dark:hover:bg-charcoal dark:text-white hover:drop-shadow-md">
                    {% trans 'change password' %}
                  </button>
                </div>
              </div>
            </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
