{% extends "base.html" %}

{% load account socialaccount i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">
    <div class="md:pt-11 md:mt-11 w-full bg-white dark:bg-charcoal mx-auto rounded py-6 px-3">
      <div class="md:w-full text-center">
        <h1 class="text-4xl">{% trans "Change Password" %}</h1>
        {% url 'account_login' as login_url %}
        <p>{% blocktrans %}Your password is now changed. <a href="{{ login_url }}">Log in</a> with your new password.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}
