@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

body {
  @apply font-sans break-normal max-w-7xl mx-auto md:pt-11 md:px-6 my-0 h-screen;
}

/*  Fixes the logo's pixel shift for non-framed and framed docs, respectively. */
body:not([class]) #headblock div:first-of-type,
.article #headblock div:first-of-type {
  @apply mt-0;
}

a {
  @apply no-underline;
}

hr:first-of-type {
  @apply border-0;
}

#mobile-menu-button {
  @apply outline-none border-0 bg-transparent;
}


div.section:first-of-type,
div.spirit-nav:first-of-type,
div.copyright-footer:first-of-type,
div.chapter:first-of-type,
div.refentry:first-of-type,
div.book:first-of-type {
  @apply max-w-7xl px-3 md:px-6 mx-auto;
}

#avatar>div,
#avatar>div>img {
  @apply rounded;
}

#userMenu, #guideMenu {
  border: 1px solid #d1d5db;
}

#headblock nav a,
#headblock nav a:visited {
  @apply dark:text-white text-slate;
}

#headblock nav a:hover {
  @apply !text-orange;
}

#avatar>div {
  @apply bg-white text-slate rounded dark:text-white dark:bg-slate;
}

#toc.toc2 {
  top: 42px;
  z-index: 25;
}
