@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-slate {
    @apply text-slate-500;
  }
  .border-slate {
    @apply border-slate-500;
  }
  .bg-slate {
    @apply bg-slate-500;
  }
  [x-cloak] {
    display: none !important;
  }

  /* there is a bug somewhere that is preventing the cursor-pointer from working by default; for now setting this here */
  a:link {
    @apply cursor-pointer;
  }

  body {
    @apply font-sans text-slate dark:text-offwhite;
  }

  h1 {
    @apply text-6xl dark:text-white;
    @apply mb-3;
  }
  h2 {
    @apply text-slate dark:text-white;
    @apply text-3xl;
    @apply my-5;
  }
  h3 {
    @apply text-2xl dark:text-white;
  }
  h4 {
    @apply text-xl dark:text-white;
  }
  h5 {
    @apply text-base dark:text-white;
  }
  p {
    @apply py-5;
  }
  pre {
    @apply p-6;
  }
  /* Forum style overrides */
  textarea {
    @apply w-full rounded bg-white dark:bg-charcoal border border-slate;
  }
  input[type=email] {
    @apply w-full rounded bg-white dark:bg-charcoal border border-slate;
  }
  input[type=checkbox] {
    @apply mr-3 rounded bg-white dark:bg-charcoal border border-slate text-orange dark:border-slate;
    @apply cursor-pointer;
  }
  input[type=file] {
    @apply block w-full px-3 py-1 text-base text-slate dark:text-white font-normal bg-clip-padding border border-solid border-slate rounded transition ease-in-out my-2;
  }
  #signup_form input[type=email],
  #signup_form input[type=password]{
    @apply rounded bg-white dark:bg-charcoal text-slate dark:text-white border border-slate w-full;
  }
  #authpages #footerSignup {
    @apply hidden;
  }
  /* Generic link style */
  /*a:not(.link-header):not(.link-none), .link {*/
  /*  @apply text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange;*/
  /*  @apply group-hover:text-orange dark:group-hover:text-orange;*/
  /*  @apply fill-current;*/
  /*}*/

  .link-header {
    @apply text-orange dark:text-orange hover:text-sky-600 dark:hover:text-sky-300;
  }

  /* use both .link and .link-force on an icon in order to bypass the following style and use all styles from .link */
  i:not(.link-force) {
    i.fa, i.fab, i.fa-brands, i.fas {
      @apply text-slate dark:text-white;
    }
  }

  /* just using .content as a class for these for now, but we can change later */
  main.content {
    @apply px-0 md:px-3 md:mb-3;
  }

  section.content {
    @apply p-6 mb-4 w-full bg-white md:rounded-lg md:shadow-lg md:flex  dark:text-offwhite truncate text-slate dark:bg-charcoal;
  }

  select.dropdown {
    @apply py-1 mb-3 h-[38px] min-w-[8rem] text-sm bg-white rounded-md border border-gray-300 cursor-pointer dark:bg-black text-sky-600 dark:text-sky-300 dark:border-slate disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-300 dark:disabled:text-slate-700 dark:disabled:border-slate-700;
  }

  .errorlist {
    @apply bg-red-400 py-2 px-3 rounded text-white;
  }

  code,
  tt,
  kbd,
  samp,
  pre {
    /* 1 */
    @apply text-sm text-sky-800 dark:text-sky-200 overflow-x-scroll;
    /* 2 */
  }
}

:root {
  --header-height: 41px;
  --version-alert-height: 0px;
}

html:has(#docsiframe):has(.version_alert) {
  overflow-y: auto;
}

html:has(#docsiframe) .header-menu-bar.topnavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

html:has(#docsiframe) .bg-white:has(.version_alert),
html:has(#docsiframe) .version_alert {
  position: fixed;
  top: var(--header-height, 41px);
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}

html:has(#docsiframe):has(.version_alert) {
  --version-alert-height: 32px;
}

html:has(#docsiframe) body {
  padding-top: calc(var(--header-height, 41px) + var(--version-alert-height, 0px));
}

#docsiframe {
  @apply w-full mx-0 my-auto overflow-hidden p-0 mt-[1px];
  height: calc(100vh - var(--header-height, 41px) - var(--version-alert-height, 0px)); /* Fallback for older browsers*/
  height: calc(100svh - var(--header-height, 41px) - var(--version-alert-height, 0px));
  max-height: calc(100svh - var(--header-height, 41px) - var(--version-alert-height, 0px));
}

.version_alert {
  @apply py-2 px-3 mt-2 mb-3 text-center rounded-sm bg-yellow-200/70;
}

html:has(#docsiframe) .version_alert {
  @apply py-1 px-3 mt-0 text-center rounded-sm bg-yellow-200/70;
}

.version_alert p {
  @apply p-0 m-0 text-center;
}

.version_alert a {
  @apply font-semibold underline dark:text-white text-charcoal;
}

.testimonials blockquote {
  font-style: italic;
}

.testimonials a {
  @apply text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange;
}
