# we have checks to account for first time setup
if [ -f ".env" ]; then
  dotenv
fi
if [ -f "$HOME/.config/nix/nix.conf" ] || [ -f "/etc/nix/nix.conf" ]; then
  echo "Loading nix shell environment."
  use flake
fi
