default_language_version:
  python: python3.11

exclude: .*migrations\/.*|static\/img\/.*|static\/animations\/.*|static\/js\/boost-gecko\/.*|kube\/boost\/templates\/.*\.yaml

repos:
  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.27.0"
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]   # Replace with Django version
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^core/tests/content/boost_release[a-zA-Z_]+.html
      - id: trailing-whitespace
        exclude: ^core/tests/content/boost_release[a-zA-Z_]+.html
  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml
        entry: djhtml --tabwidth 2
        files: .*/templates/.*\.html$
        alias: autoformat
