# Database settings
PGDATABASE=postgres
PGHOST=db
PGPASSWORD=""
PGPORT=5432
PGUSER=postgres

# ALLOWED_HOSTS can be a comma-delimited string/list of host names
ALLOWED_HOSTS=localhost

# Set DJANGO_DEBUG = 0 to turn off Debug
DJANGO_DEBUG=1

# Don't use this secret key in production obviously
SECRET_KEY="top-secret"

GITHUB_TOKEN="top-secret"
