# Database settings
PGDATABASE=postgres
PGHOST=db
PGPASSWORD=""
PGPORT=5432
PGUSER=postgres

# ALLOWED_HOSTS can be a comma-delimited string/list of host names
ALLOWED_HOSTS=localhost

# Set DJANGO_DEBUG = 0 to turn off Debug
DJANGO_DEBUG=1

# Don't use this secret key in production obviously
SECRET_KEY="top-secret"

GITHUB_TOKEN="top-secret"

AWS_ACCESS_KEY_ID="changeme"
AWS_SECRET_ACCESS_KEY="changeme"
BUCKET_NAME="boost.revsys.dev"


# Mailman database settings
DATABASE_URL="postgresql://postgres@db:5432/postgres"
DATABASE_TYPE="postgres"
DATABASE_CLASS="mailman.database.postgresql.PostgreSQLDatabase"
HYPERKITTY_API_KEY="changeme!"
MAILMAN_ADMIN_USER=""
MAILMAN_ADMIN_EMAIL=""
SERVE_FROM_DOMAIN=localhost

# Celery settings
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

