[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.1.1"
appdirs = "==1.4.4"
asgiref = "==3.7.2"
asttokens = "==2.2.1"
async-timeout = "==4.0.2"
backcall = "==0.2.0"
beautifulsoup4 = "==4.12.2"
billiard = "==3.6.4.0"
black = "==23.3.0"
boto3 = "==1.26.154"
botocore = "==1.29.154"
build = "==0.10.0"
bump2version = "==1.0.1"
bumpversion = "==0.6.0"
celery = "==5.2.7"
certifi = "==2023.5.7"
cffi = "==1.15.1"
cfgv = "==3.3.1"
charset-normalizer = "==3.1.0"
click = "==8.1.3"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
coverage = {extras = ["toml"], version = "==7.2.7"}
cryptography = "==41.0.1"
decorator = "==5.1.1"
defusedxml = "==0.7.1"
deprecated = "==1.2.14"
distlib = "==0.3.6"
dj-database-url = "==2.0.0"
dj-email-url = "==1.0.6"
django = "==4.2.2"
django-admin-env-notice = "==1.0"
django-allauth = "==0.53.1"
django-anymail = {extras = ["mailgun"], version = "==10.0"}
django-appconf = "==1.0.6"
django-bakery = "==0.13.2"
django-cache-url = "==3.4.4"
django-click = "==2.3.0"
django-cors-headers = "==4.0.0"
django-db-geventpool = "==4.0.1"
django-extensions = "==3.2.3"
django-haystack = "==3.2.1"
django-health-check = "==3.17.0"
django-imagekit = "==5.0.0"
django-js-asset = "==2.0.0"
django-mptt = "==0.14"
django-oauth-toolkit = "==2.3.0"
django-redis = "==5.3.0"
django-rest-auth = "==0.9.5"
django-storages = "==1.13.2"
django-test-plus = "==2.2.1"
django-tracer = "==0.9.3"
django-widget-tweaks = "==1.4.12"
djangorestframework = "==3.14.0"
elasticsearch = "==7.17.9"
environs = {extras = ["django"], version = "==9.5.0"}
executing = "==1.2.0"
faker = "==18.10.1"
fastcore = "==1.5.29"
filelock = "==3.12.2"
fs = "==2.4.16"
gevent = "==23.9.0"
ghapi = "==1.0.4"
greenlet = "==2.0.1"
gunicorn = "==20.1.0"
identify = "==2.5.24"
idna = "==3.4"
iniconfig = "==2.0.0"
ipython = "==8.14.0"
jedi = "==0.18.2"
jmespath = "==1.0.1"
jwcrypto = "==1.5.1"
kombu = "==5.3.1"
marshmallow = "==3.19.0"
matplotlib-inline = "==0.1.6"
minio = "==7.1.15"
mistletoe = "==1.1.0"
model-bakery = "==1.12.0"
mypy-extensions = "==1.0.0"
nodeenv = "==1.8.0"
oauthlib = "==3.2.2"
packaging = "==23.1"
parso = "==0.8.3"
pathspec = "==0.11.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pilkit = "==3.0"
pillow = "==9.4.0"
pip-tools = "==6.13.0"
platformdirs = "==3.5.3"
pluggy = "==1.0.0"
pre-commit = "==3.3.3"
prompt-toolkit = "==3.0.38"
psycogreen = "==1.0.2"
psycopg2-binary = "==2.9.6"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
pycparser = "==2.21"
pygments = "==2.15.1"
pyjwt = {extras = ["crypto"], version = "==2.7.0"}
pyproject-hooks = "==1.0.0"
pytest = "==7.3.2"
pytest-cov = "==4.1.0"
pytest-django = "==4.5.2"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
python-frontmatter = "==1.0.0"
python-json-logger = "==2.0.7"
python3-openid = "==3.2.0"
pytz = "==2023.3"
pyyaml = "==6.0"
redis = "==4.5.4"
requests = "==2.31.0"
requests-oauthlib = "==1.3.1"
responses = "==0.23.1"
s3transfer = "==0.6.1"
six = "==1.16.0"
soupsieve = "==2.4.1"
sqlparse = "==0.4.4"
stack-data = "==0.6.2"
structlog = "==23.1.0"
traitlets = "==5.9.0"
types-pyyaml = "==6.0.12.10"
typing-extensions = "==4.6.3"
urllib3 = "==1.26.16"
vine = "==5.0.0"
virtualenv = "==20.23.0"
wcwidth = "==0.2.6"
whitenoise = "==6.5.0"
wrapt = "==1.16.0"
zope-event = "==4.6"
zope-interface = "==6.0"

[dev-packages]

[requires]
python_version = "3.12"
