Django>=4.0, <5.0
bumpversion
django-admin-env-notice
django-allauth==0.53.1
django-anymail[mailgun]
django-cors-headers
django-db-geventpool
django-extensions
django-health-check
django-imagekit
django-oauth-toolkit
django-redis
django-rest-auth
django-widget-tweaks
djangorestframework>=3.14
environs[django]
greenlet==2.0.1
psycogreen
gevent==23.9.0
gunicorn
psycopg2-binary
whitenoise
django-click
Pillow==10.2.0
python-dateutil
django-storages
wheel
cryptography
boto3
jsoncomment

# Logging
django-tracer
python-json-logger
structlog

# Celery
celery==5.2.7
redis==4.5.4

# Testing
Faker
black
django-bakery
django-test-plus
ipython
minio
model_bakery
pre-commit
pytest
pytest-cov
pytest-django
responses

# Packaging
uv>=0.2.27,<0.3

# Parsing content from external sources (like S3)
mistletoe
python-frontmatter
beautifulsoup4

django-haystack>=3.2
django-mptt==0.14
elasticsearch==7.17.9

# Github
ghapi
requests
