Django<4.0
bumpversion
django-db-geventpool
django-extensions
django-health-check
django-redis
django-rest-auth
djangorestframework
environs[django]
gevent
gunicorn
psycopg2-binary
whitenoise

# Logging
django-tracer
python-json-logger
structlog

# Celery
celery
redis

# Testing
black
django-bakery
django-test-plus
pytest
pytest-cov
pytest-django
pytest-xdist
Faker
model_bakery
ipython

# Packaging
pip-tools>=6.6.2

# Markdown and Frontmatter
mistletoe
python-frontmatter

#Forum
django-machina
