Django>=4.0, <=4.2
bumpversion
django-admin-env-notice==0.4
django-allauth==0.53.1
django-db-geventpool
django-extensions
django-health-check
django-redis
django-rest-auth
django-widget-tweaks
djangorestframework>=3.14
environs[django]
gevent
gunicorn
psycopg2-binary
whitenoise
django-click==2.3.0
Pillow==9.4.0
django-storages
wheel==0.38.1
cryptography==39.0.1
boto3

# Logging
django-tracer
python-json-logger
structlog

# Celery
celery==5.2.2
redis==4.5.4

# Testing
black==22.3
django-bakery
django-test-plus
pytest==7.2.2
pytest-cov
pytest-django
pytest-xdist
Faker
model_bakery
ipython
responses
minio

# Packaging
pip-tools==6.12.3

# Markdown and Frontmatter
mistletoe
python-frontmatter

#Forum
django-machina>=1.2
django-haystack>=3.2

# Github
ghapi
requests==2.28.2
