{% load boost_version %}
<form action="." method="get">
    <select
        name="version"
        class="dropdown !mb-0 h-[38px]"
        id="id_version"
    >
        <option value="{{ LATEST_RELEASE_URL_PATH_STR }}"
                {% if version_str == LATEST_RELEASE_URL_PATH_STR %}selected="selected"{% endif %}>
            Latest ({{ current_version.display_name }})
        </option>
        {% for v in versions %}
            <option value="{{ v.slug|boost_version }}"
                {% if version_str == v.slug %}selected="selected"{% endif %}
                {% if v.has_library == 0 %}disabled="disabled"{% endif %}
            >
                {{ v.display_name|title }}
            </option>
        {% endfor %}
    </select>
</form>
