{% comment %}HTMX outerHTML swap response rendered by QuickSubscribeView on success.{% endcomment %}
<div class="basic-card card">
  <div class="card__header mailing-list-card__header--subscribed">
    <span class="card__title">Manage your Mailing list</span>
    <span class="mailing-list-card__badge">Subscribed</span>
  </div>
  <hr class="card__hr" />
  <div class="card__column px-large">
    <span>
      You're subscribed with {{ email }} to {{ subscription_count }} list{{ subscription_count|pluralize }}.
    </span>
  </div>
  <div class="card__cta_section">
    {% include "v3/includes/_button.html" with url=manage_url label="Manage your lists →" only %}
  </div>
</div>
