{% with request.resolver_match.view_name as view_name %}
  <div class="pt-2 px-0 mb-2 text-right md:mb-2 mx-3 md:mx-0">
    <form action="{{request.path}}" method="get">
      <div class="flex relative space-x-3 justify-start">
        {# Search #}

        {% comment %} {% include "libraries/includes/search_input.html" %} {% endcomment %}

        {# Display options #}
        <div class="flex space-x-3">
          <div class="relative group">
            <a title="Name View" href="{% url 'libraries-mini' %}{% if url_params %}?{{ request.GET.urlencode }}{% endif %}"><i class="link rounded border border-gray-300 cursor-pointer fas fa-list p-[10px] {% if view_name == 'libraries-mini' %}bg-gray-100 dark:bg-slate{% else %}hover:bg-gray-100 dark:hover:bg-slate{% endif %}"></i></a>
            <span class="group-hover:opacity-100 transition-opacity bg-slate px-1 text-xs text-gray-100 rounded-sm absolute top-5 left-1/2 -translate-x-1/2 translate-y-full opacity-0 m-0 mx-auto w-auto">List&nbsp;View</span>
          </div>
          <div class="relative group">
            <a title="Grid View" href="{% url 'libraries-grid' %}{% if url_params %}?{{ request.GET.urlencode }}{% endif %}"><i class="link rounded border border-gray-300 cursor-pointer fas fa-th-large p-[10px] {% if view_name == 'libraries-grid' %}bg-gray-100 dark:bg-slate{% else %}hover:bg-gray-100 dark:hover:bg-slate{% endif %}"></i></a>
            <span class="group-hover:opacity-100 transition-opacity bg-slate px-1 text-xs text-gray-100 rounded-sm absolute top-5 left-1/2 -translate-x-1/2 translate-y-full opacity-0 m-0 mx-auto w-auto">Grid&nbsp;View</span>
          </div>
          <div class="relative group">
            <a title="Category View" href="{% url 'libraries-by-category' %}{% if url_params %}?{{ request.GET.urlencode }}{% endif %}"><i class="link rounded border border-gray-300 cursor-pointer fas fa-cat p-[10px] {% if view_name == 'libraries-by-category' %}bg-gray-100 dark:bg-slate{% else %}hover:bg-gray-100 dark:hover:bg-slate{% endif %}"></i></a>
            <span class="group-hover:opacity-100 transition-opacity bg-slate px-1 text-xs text-gray-100 rounded-sm absolute top-5 left-1/2 -translate-x-1/2 translate-y-full opacity-0 m-0 mx-auto w-auto">Category&nbsp;View</span>
          </div>
        </div>

        <div></div>

        {# Select a category #}
        {% if view_name != 'libraries-by-category' %}
          <div>
          {# todo: if someone selects a category and hits back, it retains their choice here. #}
          <select onchange="this.form.submit()"
            name="category"
            class="block py-2 pr-11 pl-5 mb-3 w-full text-sm bg-white rounded-md border border-gray-300 cursor-pointer sm:inline-block md:mb-0 ml-3 md:ml-0 md:w-auto dark:bg-black dark:border-slate"
            id="id_category"
          >
            <option value="">Filter by category</option>
            {% for c in categories %}
              <option value="{{ c.slug }}" {% if category == c %}selected="selected"{% endif %}>{{ c.name }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}

        {# Select a version #}
        <div class="flex grow justify-end">
        <select onchange="this.form.submit()"
                name="version"
                class="dropdown py-2 md:block h-[38px] ml-3 md:ml-0"
                id="id_version">
          <option value="latest" {% if version == "latest" %}selected="selected"{% endif %}>Latest</option>
          {% for v in versions %}
          <option value="{{ v.slug }}" {% if version == v %}selected="selected"{% endif %}>{{ v.display_name }}</option>
          {% endfor %}
        </select>
      </div>
      </div>
    </form>
  </div>
{% endwith %}
