{% if version_alert %}
    <div role="alert" class="py-2 px-3 mb-3 text-center rounded-sm bg-yellow-200/70">
        <p class="p-0 m-0">
            <i class="fas fa-exclamation-circle"></i>
            This is an older version and was released in {{ version.release_date|date:"Y"}}.
           The current version is
            {% if latest_library_version %}
                <a href="{% url 'library-detail' slug=latest_library_version.library.slug %}" class="font-semibold underline dark:text-white text-charcoal">
            {% else %}
                <a href="{% url 'release-detail' latest_version.slug %}" class="font-semibold underline dark:text-white text-charcoal">
            {% endif %}
            {{ latest_version.display_name }}</a>
        </p>
    </div>
{% endif %}
