{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if has_start_content_refresh %}
    <li>
        <a href="{% url 'admin:core_renderedcontent_start_content_refresh' %}" class="addlink">
            {% trans "Start Content Refresh" %}
        </a>
    </li>
    {% endif %}
    {% if has_delete_all %}
    <li>
        <a href="{% url 'admin:core_renderedcontent_delete_all' %}" class="deletelink">
            {% trans "Delete All Records" %}
        </a>
    </li>
    {% endif %}
{% endblock %}
