{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-core model-renderedcontent delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:core_renderedcontent_changelist' %}">{% translate 'Rendered Contents' %}</a>
  &rsaquo; {% translate 'Start Content Refresh' %}
</div>
{% endblock %}

{% block content %}
<p>"Are you sure you want to mark the content refresh start time?</p>
<p>
  This will set the rendered_content_replacement_start timestamp in Site Settings to the current time after
  which page loads will trigger a content refresh. Note: the first view in this case will not show the refreshed
  content.
</p>
<form method="post">{% csrf_token %}
  <div>
    <input type="hidden" name="post" value="yes">
    <input type="submit" value="Yes, I'm sure">
    <a href="#" class="button cancel-link">No, take me back</a>
  </div>
</form>
{% endblock %}
