{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Contact Us" %}{% endblock %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">

    <div class="py-16 mb-5 w-full border-b border-slate">
      <h1 class="text-4xl">Contact Us</h1>
    </div>

    <div class="space-x-8 w-full md:flex">
      <div class="pt-5 md:w-1/4">
        <h3>Boost</h3>
        <div class="pt-3 pb-3 space-x-3">
          <a href=""><img class="inline w-auto h-[15px]" src="{% static 'img/icons/icon_Facebook-logo.svg' %}" alt="Facebook"></a>
          <a href=""><img class="inline w-auto h-[15px]" src="{% static 'img/icons/icon_Twitter-logo.svg' %}" alt="Twitter"></a>
          <a href=""><img class="inline w-auto h-[15px]" src="{% static 'img/icons/icon_Linkedin-logo.svg' %}" alt="LinkedIn"></a>
          <a href=""><img class="inline w-auto h-[15px]" src="{% static 'img/icons/icon_YouTube-logo.svg' %}" alt="Youtube"></a>
        </div>
      </div>
      <div class="md:w-3/4">
        <p>We'd love to hear from you! Send us a quick message.</p>
        {% include 'includes/_contact_form.html' with form=form %}
      </div>
    </div>
  </div>
{% endblock %}
