hr {margin:2rem auto; width: 150px;}
p {padding-top: 0.5rem; padding-bottom: 0.5rem;}
a {color:#0284c7;}
a:hover, a:active {color:darkblue}
a:visited {color:#0284c7;}
h1 {font-size: 1.44rem; font-weight:700;}
h2 {font-size: 1rem; font-weight:600; text-transform: uppercase;}
h3 {font-size: 1.1rem; font-weight:700;}
h4 {font-size: 0.95rem; font-weight:700;}
h5 {font-size: 0.69rem; font-weight:700;}
ul, ol {margin: 1rem 0; padding-left: 2rem;}
ul {list-style-type: disc;}
ol {list-style-type: decimal;}
li {padding: 0.25rem 0;}
ul ul, ol ul {list-style-type: circle;}
ol ol, ul ol {list-style-type: lower-alpha;}
