<!-- TODO: This should be a select on mobile -->
<div class="hidden md:flex text-center justify-between uppercase py-6 px-[40px]">
  <a href="#" class="text-orange">a</a>
  <a href="#" class="text-orange">b</a>
  <a href="#" class="text-orange">c</a>
  <a href="#" class="text-orange">d</a>
  <a href="#" class="text-orange">e</a>
  <a href="#" class="text-orange">f</a>
  <a href="#" class="text-orange">g</a>
  <a href="#" class="text-orange">h</a>
  <a href="#" class="text-orange">i</a>
  <a href="#" class="text-orange">j</a>
  <a href="#" class="text-orange">k</a>
  <a href="#" class="text-orange">l</a>
  <a href="#" class="text-orange">m</a>
  <a href="#" class="text-orange">n</a>
  <a href="#" class="text-orange">o</a>
  <a href="#" class="text-orange">p</a>
  <a href="#" class="text-orange">q</a>
  <a href="#" class="text-orange">r</a>
  <a href="#" class="text-orange">s</a>
  <a href="#" class="text-orange">t</a>
  <a href="#" class="text-orange">u</a>
  <a href="#" class="text-orange">v</a>
  <a href="#" class="text-orange">w</a>
  <a href="#" class="text-orange">x</a>
  <a href="#" class="text-orange">y</a>
  <a href="#" class="text-orange">z</a>
</div>
