<!-- TODO: This should be a select on mobile -->
<div class="hidden md:flex text-center justify-between uppercase py-6 px-[40px]">
  <a href="/libraries-by-letter/a/" class="text-orange">a</a>
  <a href="/libraries-by-letter/b/" class="text-orange">b</a>
  <a href="/libraries-by-letter/c/" class="text-orange">c</a>
  <a href="/libraries-by-letter/d/" class="text-orange">d</a>
  <a href="/libraries-by-letter/e/" class="text-orange">e</a>
  <a href="/libraries-by-letter/f/" class="text-orange">f</a>
  <a href="/libraries-by-letter/g/" class="text-orange">g</a>
  <a href="/libraries-by-letter/h/" class="text-orange">h</a>
  <a href="/libraries-by-letter/i/" class="text-orange">i</a>
  <a href="/libraries-by-letter/j/" class="text-orange">j</a>
  <a href="/libraries-by-letter/k/" class="text-orange">k</a>
  <a href="/libraries-by-letter/l/" class="text-orange">l</a>
  <a href="/libraries-by-letter/m/" class="text-orange">m</a>
  <a href="/libraries-by-letter/n/" class="text-orange">n</a>
  <a href="/libraries-by-letter/o/" class="text-orange">o</a>
  <a href="/libraries-by-letter/p/" class="text-orange">p</a>
  <a href="/libraries-by-letter/q/" class="text-orange">q</a>
  <a href="/libraries-by-letter/r/" class="text-orange">r</a>
  <a href="/libraries-by-letter/s/" class="text-orange">s</a>
  <a href="/libraries-by-letter/t/" class="text-orange">t</a>
  <a href="/libraries-by-letter/u/" class="text-orange">u</a>
  <a href="/libraries-by-letter/v/" class="text-orange">v</a>
  <a href="/libraries-by-letter/w/" class="text-orange">w</a>
  <a href="/libraries-by-letter/x/" class="text-orange">x</a>
  <a href="/libraries-by-letter/y/" class="text-orange">y</a>
  <a href="/libraries-by-letter/z/" class="text-orange">z</a>
</div>
