{% load static %}

<div class="md:flex rounded bg-charcoal p-3 md:p-5">
  <div class="md:w-3/4 mb-4 space-y-4 md:space-y-2">
    <h3 class="text-2xl mb-3 capitalize">
      <a href="
        {% if version_slug %}
          {% url 'libraries-by-version-detail' version_slug=version_slug slug=library.slug %}
        {% else %}
          {% url 'library-detail' slug=library.slug %}
        {% endif %}"
      >{{ library.name }}</a>
    </h3>
    <p class="mb-3">{{ library.description }}</p>
    <div class="md:flex text-sm">
      <div class="md:mr-11">First Release:  X.YY.Z</div>
      <div class="mt-4 md:mt-0">Categories:  {% for c in library.categories.all %}<a href="{% if version_slug %}{% url 'libraries-by-version-by-category' version_slug=version_slug category=c.slug%}{% else %}{% url 'libraries-by-category' category=c.slug %}{% endif %}" class="text-orange">{{ c.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
    </div>
    <div class="text-sm">C++ Standard Minimum Level:  {{ library.cpp_standard_minimum }}</div>
  </div>
  <div class="md:w-1/4 mb-4 text-sm">
    <div class="my-5 flex">
      <div class="md:mr-5 w-1/3">Author(s):</div>
      <div class="space-y-3">
        {% for author in library.authors.all %}
          <div><img src="{% static 'img/fpo/user.png' %}" alt="user" class="inline" /> {{ author.get_full_name }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
