{% load static %}
{% load date_filters %}

<div class="relative content-between p-3 bg-white rounded-lg shadow-lg md:p-5 dark:bg-charcoal">
  <div class="">
    <h3 class="pb-2 text-xl md:text-2xl capitalize border-b border-gray-700">
      <a class="link-header" href="
        {% if version %}
          {% url 'library-detail-by-version' slug=library.slug version_slug=version.slug %}
        {% else %}
          {% url 'library-detail' slug=library.slug %}
        {% endif %}"
      >{{ library.name }}</a>
      {% for author in library.authors.all %}
        {% if author.image %}
          <img src="{{ author.image.url }}" class="inline float-right rounded w-[30px]" alt="{{ author.get_display_name }}" />
        {% endif %}
      {% endfor %}
    </h3>

  </div>
  <div class="mb-3 pb-3">
    <p class="mb-3 text-gray-700 dark:text-gray-300">{{ library.description }}</p>
  </div>
  <div class="text-sm flex py-3 bottom-3 absolute w-[90%]">
    <div >
      <span class="flex justify-center py-0 px-1 text-sm font-bold text-gray-600 rounded-full border dark:text-gray-300 bg-green/40 border-green/60 dark:bg-green/40 tabular-nums"
        title="C++ Version {% if library.cpp_standard_minimum and library.cpp_standard_minimum != 'None' %}{{ library.cpp_standard_minimum }}{% else %}03{% endif %} or Later">
        <span class="text-white dark:text-gray-800 tracking-wide scale-x-75 origin-left w-6">C++</span>
        {% if library.cpp_standard_minimum and library.cpp_standard_minimum != 'None' %}{{ library.cpp_standard_minimum }}{% else %}03{% endif %}
      </span>
    </div>
{#<div class="w-1/6 tracking-wider text-charcoal dark:text-white/60">{% if library.first_boost_version %}{{ library.first_boost_version.release_date|years_since }} yrs{% endif %}</div>#}
    <div class="w-5/6 text-right dark:text-gray-400 text-slate">
      {% for c in library.categories.all %}
        <a href="{% url 'libraries' %}?category={{ c.slug }}{% if version %}&version={{ version.slug }}{% endif %}">{{ c.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
  </div>
</div>
