<tr class="border-0 md:border border-gray-200/10 border-dotted md:border-t-0 md:border-r-0 md:border-l-0 md:border-b-1  hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-300 ease-in-out cursor-pointer"
onclick="window.location='{% if version %}{% url 'library-detail-by-version' slug=library.slug version_slug=version.slug %}{% else %}{% url 'library-detail' slug=library.slug %}{% endif %}'">
  <td class="py-2 align-top md:w-1/5">
    <a class="mr-1 font-bold capitalize text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange"
       href="{% url 'library-detail' slug=library.slug %}">{{ library.name }}</a>
  </td>

  <td class="py-2 align-top w-12">
    <span class="flex justify-center py-0 text-sm font-bold text-gray-600 rounded-full border dark:text-gray-300 bg-green/40 border-green/60 dark:bg-green/40 tabular-nums"
          title="{% if library.cpp_standard_minimum and library.cpp_standard_minimum != 'None' %}C++ Version {{ library.cpp_standard_minimum }} or Later{% else %}C++ Version 03 or Later{% endif %}">
          <span class="text-white dark:text-gray-800 tracking-wide scale-x-75 origin-left w-6 text-nowrap">C++</span>
          {% if library.cpp_standard_minimum and library.cpp_standard_minimum != 'None' %}{{ library.cpp_standard_minimum }}{% else %}03{% endif %}
    </span>
  </td>
  <td class="hidden md:block py-2 pl-3 align-top">{{ library.description }}</td>
</tr>
<tr class="block md:hidden">
  <td>{{ library.description }}</td>
</tr>
