{% load static %}

<div class="relative content-between p-3 bg-white rounded-lg shadow-lg md:p-5 dark:bg-charcoal">
  <div class="">
    <h3 class="pb-2 text-2xl capitalize border-b border-gray-300 dark:border-slate">
      <a class="link-header" href="
        {% if version %}
          {% url 'library-detail-by-version' slug=library.slug version_slug=version.slug %}
        {% else %}
          {% url 'library-detail' slug=library.slug %}
        {% endif %}"
      >{{ library.name }}</a>
      {% for author in library.authors.all %}
        {% if author.image %}
          <img src="{{ author.image.url }}" class="inline float-right rounded w-[30px]" alt="{{ author.get_display_name }}" />
        {% endif %}
      {% endfor %}
    </h3>
  </div>
  <div class="mb-3 pb-3">
    <p class="mb-3 text-gray-700 dark:text-gray-300">{{ library.description }}</p>
  </div>
  <div class="text-sm flex py-3 bottom-3 absolute w-[90%]">
    <div class="w-1/6"><span class="py-0 px-2 text-sm font-bold text-gray-600 rounded-full border dark:text-gray-300 bg-green/40 border-green/60 dark:bg-green/40" title="{% if library.cpp_standard_minimum and library.cpp_standard_minimum != 'None' %}CPP Version {{ library.cpp_standard_minimum }} or Later{% else %}No Minimum CPP Required{% endif %}">{{ library.cpp_standard_minimum }}</span></div>
    <div class="w-1/6 tracking-wider text-charcoal dark:text-white/60">2yrs</div>
    <div class="w-4/6 text-right dark:text-gray-400 text-slate">
      {% for c in library.categories.all %}
        <a href="{% url 'libraries' %}?category={{ c.slug }}{% if version %}&version={{ version.slug }}{% endif %}">{{ c.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
  </div>
</div>
