{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="content">
  <header class="py-0 px-0 mb-0 w-full md:mb-2 flex flex-row flex-nowrap items-center"
            x-data="{'showSearch': false}"
            x-on:keydown.escape="showSearch=false">
      <div class="flex-auto mb-2 w-full">
        <div id="overview">
          <span class="text-xl md:text-3xl lg:text-4xl text-orange">Boost.{{ object.name }}</span>

        </div>
      </div>
      <div class="flex-shrink">
        <form action="{% url 'library-detail' slug=object.slug %}"
              method="post">
          {% csrf_token %}
          <div>
            <label for="id_version" hidden="true">Versions:</label>
            <select onchange="this.form.submit()"
                    name="version"
                    class="dropdown"
                    id="id_version">
              <option>Filter by version</option>
              {% for v in versions %}
                <option value="{{ v.pk }}"
                        {% if version == v %}selected="selected"{% endif %}>{{ v.display_name }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </header>

    <!-- alert for non-current Boost versions -->
    {% include "libraries/includes/version_alert.html" %}

    <section class="content divide-x-0 divide-transparent md:divide-x md:divide-gray-200">

      <div class="pb-2 w-full md:pb-0 md:w-1/3 overflow-x-hidden">
        <div class="flex flex-col">

          <div class="pb-4">
            <span class="py-0 px-2 text-sm font-bold text-gray-600 rounded-full border dark:text-gray-300 bg-green/40 border-green/60 dark:bg-green/40">
            {% if object.cpp_standard_minimum and object.cpp_standard_minimum != 'None' %}
              CPP Version {{ object.cpp_standard_minimum }} or Later
            {% else %}
              No Minimum CPP Required
            {% endif %}
            </span>
            <span class="float-right">{% if object.first_github_tag_date %}Since {{ object.first_github_tag_date|date:"Y" }}{% endif %}</span>
          </div>

          <div>
            <div class="pt-1 text-sm">
              <span class="font-bold">Categories:</span>
              {% for category in object.categories.all %}
                <a class="inline text-sky-600"
                  href="{% url 'libraries' %}?category={{ category.slug }}{% if version %}&version={{ version.slug }}{% endif %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </div>

           <p class="pt-4 mt-4 whitespace-normal text-lg border-t border-gray-700">{{ object.description }}</p>
          </div>

          <div class="-ml-2 h-14">
            {% if documentation_url %}<a class="block items-center py-1 px-2 rounded cursor-pointer hover:bg-gray-100 dark:hover:bg-slate"
               href="{{ documentation_url }}">
              <span class="dark:text-white text-slate">Documentation</span>
              <span class="block text-xs">{{ request.get_host }}{{ documentation_url|cut:"https://" }}</span>
            </a>{% endif %}
          </div>
          <div class="-ml-2 h-14">
            <a class="block items-center py-1 px-2 rounded cursor-pointer hover:bg-gray-100 dark:hover:bg-slate"
               href="{{ object.github_issues_url }}">
              <i class="float-right mt-1 fas fa-bug"></i>
              <span class="dark:text-white text-slate">GitHub Issues</span>
              <span class="block text-xs">{{ object.github_issues_url|cut:"https://" }}</span>
            </a>
          </div>
          <div class="-ml-2 h-14">
            <a class="block items-center py-1 px-2 rounded cursor-pointer hover:bg-gray-100 dark:hover:bg-slate"
               href="{{ github_url }}">
              <i class="float-right mt-1 fab fa-github"></i>
              <span class="dark:text-white text-slate">Source Code</span>
              <span class="block text-xs">{{ github_url|cut:"https://" }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="pb-2 px-0 ml-0 w-full h-auto md:w-2/3 md:pb-0 md:pl-6 md:mx-6">
        <div class="flex">
          <div class="flex w-full bg-gray-300 dark:bg-charcoal">
            {# todo: add a toggle between the two types #}
            <div class="w-full">
              <div id="chart1" class="w-full text-center">{# Commits per Month #}</div>
            </div>
            <div class="w-full hidden">
              <div id="chart2" class="w-full text-center">{# Commits per Year #}</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-6 my-4 bg-white rounded-lg shadow-lg dark:text-white text-slate dark:bg-charcoal dark:bg-neutral-700">
      <!-- Avatars -->
      <h2 class="text-2xl">Maintainers</h2>
      <div class="flex flex-wrap">
      {% for user in maintainers %}
        {% if user.image %}
          <div class="p-1 md:p-2">
          <img src="{{ user.image.url }}"
               title="{{ user.get_full_name }}"
               alt="{{ user.get_full_name }}"
               class="rounded w-[80px]" />
          </div>
        {% else %}
          <div class="p-1 md:p-2">
            <div class="bg-slate rounded w-[80px]">
              <i class="py-4 px-5 text-5xl fas fa-user text-white/60" title="{{ user.get_full_name }}"></i>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </section>

    {% if description %}
      <section class="p-6 my-4 bg-white rounded-lg shadow-lg dark:text-white text-slate dark:bg-charcoal dark:bg-neutral-700">
        {{ description|safe }}
      </section>
    {% endif %}
  </div>
  <!-- end overview -->
</div>
</div>
</main>
{% endblock %}
{% block footer_js %}
  <script>
    var options = {
        series: [{
        name: 'Commits',
        data: [256, 255, 251, 260, 267, 230, 254, 242, 274, 265, 243, 234]
      }],
        chart: {
        height: 350,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          borderRadius: 2,
          dataLabels: {
            position: 'top', // top, center, bottom
          },
        }
      },
      dataLabels: {
        enabled: true,
        formatter: function (val) {
          //return val + "%";
          return val;
        },
        offsetY: -20,
        style: {
          fontSize: '12px',
          colors: ["#304758"]
        }
      },

      xaxis: {
        categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        position: 'top',
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        crosshairs: {
          fill: {
            type: 'gradient',
            gradient: {
              colorFrom: '#D8E3F0',
              colorTo: '#BED1E6',
              stops: [0, 100],
              opacityFrom: 0.4,
              opacityTo: 0.5,
            }
          }
        },
        tooltip: {
          enabled: true,
        }
      },
      yaxis: {
        axisBorder: {
          show: true
        },
        axisTicks: {
          show: true,
        },
        labels: {
          show: true,
          formatter: function (val) {
            //return val + "%";
            return val;
          }
        }

      },
      title: {
        text: 'Commits per Month',
        floating: true,
        offsetY: 330,
        align: 'center',
        style: {
          color: '#444'
        }
      }
    };

    var options2 = {
        series: [{
        name: 'Commits',
        data: [1367, 981, 400, 2235, 1888]
      }],
        chart: {
        height: 350,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          borderRadius: 2,
          dataLabels: {
            position: 'top', // top, center, bottom
          },
        }
      },
      dataLabels: {
        enabled: true,
        formatter: function (val) {
          //return val + "%";
          return val;
        },
        offsetY: -20,
        style: {
          fontSize: '12px',
          colors: ["#304758"]
        }
      },

      xaxis: {
        categories: ["2019", "2020", "2021", "2022", "2023"],
        position: 'top',
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        crosshairs: {
          fill: {
            type: 'gradient',
            gradient: {
              colorFrom: '#D8E3F0',
              colorTo: '#BED1E6',
              stops: [0, 100],
              opacityFrom: 0.4,
              opacityTo: 0.5,
            }
          }
        },
        tooltip: {
          enabled: true,
        }
      },
      yaxis: {
        axisBorder: {
          show: true
        },
        axisTicks: {
          show: true,
        },
        labels: {
          show: true,
          formatter: function (val) {
            //return val + "%";
            return val;
          }
        }

      },
      title: {
        text: 'Commits per Year',
        floating: true,
        offsetY: 330,
        align: 'center',
        style: {
          color: '#444'
        }
      }
    };

    var chart = new ApexCharts(document.querySelector("#chart1"), options);
    chart.render();

    var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
    chart2.render();
  </script>
{% endblock %}
