{% extends "base.html" %}

{% load static %}

{% block content %}
  <!-- Breadcrumb used on filtered views -->
  <div class="p-3 md:p-0">
    <a class="text-orange" href="{% url "libraries" %}">Libraries</a> > Categorized
  </div>
  <!-- end breadcrumb -->

  <div class="md:flex md:border-b md:border-slate py-6 mb-3 p-3 md:p-0">
    <div class="md:w-1/2">
      <h2 class="text-4xl mb-3">Libraries</h2>
      <div class="flex space-x-3">
        <span>View by:</span>
        <span><input type="checkbox" id="view" name="view" value="all"> All</span>
        <span><input type="checkbox" id="view" name="view" value="categorized"> Categorized</span>
        <span><input type="checkbox" id="view" name="view" value="condensed"> Condensed</span>
      </div>
    </div>
    <div class="md:w-1/2 md:text-right space-y-3 mt-3 md:mt-0">
      <div><input class="bg-charcoal text-orange px-3 py-2" type="text" value="" placeholder="Search Library" /></div>
      <div>
        <select class="block sm:inline-block text-sm uppercase rounded-md bg-black text-orange border border-slate px-5 py-1 mr-3"><option>Filter by category</option></select>
        <select class="block sm:inline-block text-sm uppercase rounded-md bg-black text-orange border border-slate px-5 py-1"><option>Filter by date</option></select>
      </div>
    </div>
  </div>

  {% include "libraries/_alphabet_filter.html" %}

  <!-- Libraries list -->
  <div class="rounded bg-charcoal p-3 md:p-11 mb-5 mx-3">
    {% include "libraries/_library_list_item.html" %}
    {% include "libraries/_library_list_item.html" %}
    {% include "libraries/_library_list_item.html" %}
  </div>
  <!-- end libraries list -->

  <!-- Pagination -->
  <div class="text-center space-x-3">
    <a href="#" class="text-orange">1</a>
    <a href="#" class="text-orange">2</a>
    <a href="#" class="text-orange">3</a>
    <a href="#" class="text-orange">...</a>
    <a href="#" class="text-orange">Next <small> > </small></a>
    <a href="#" class="text-orange">Last <small> >> </small></a>
  </div>
  <!-- end pagination -->

{% endblock %}
