{% extends "base.html" %}

{% load static %}

{% block content %}
  <!-- Breadcrumb used on filtered views -->
  <div class="p-3 md:p-0">
    <a class="text-orange" href="{% url "libraries" %}">Libraries</a> > Categorized
  </div>
  <!-- end breadcrumb -->

  <div class="md:flex md:border-b md:border-slate py-6 mb-3 p-3 md:p-0">
    <div class="md:w-1/2">
      <h2 class="text-4xl mb-3">Libraries</h2>
      <div class="flex space-x-3">
        <span>View by:</span>
        <span><input type="checkbox" id="view" name="view" value="all"> All</span>
        <span><input type="checkbox" id="view" name="view" value="categorized"> Categorized</span>
        <span><input type="checkbox" id="view" name="view" value="condensed"> Condensed</span>
      </div>
    </div>
    <div class="md:w-1/2 md:text-right space-y-3 mt-3 md:mt-0">
      <div><input class="bg-charcoal text-orange px-3 py-2" type="text" value="" placeholder="Search Library" /></div>
      <div>
        <select class="block sm:inline-block text-sm uppercase rounded-md bg-black text-orange border border-slate px-5 py-1 mr-3"><option>Filter by category</option></select>
        <select class="block sm:inline-block text-sm uppercase rounded-md bg-black text-orange border border-slate px-5 py-1"><option>Filter by date</option></select>
      </div>
    </div>
  </div>

  {% include "libraries/_alphabet_filter.html" %}

  <!-- Libraries list -->
  <div class="rounded bg-charcoal p-3 md:p-11 mb-5 mx-3">
    {% for library in object_list %}

    <div class="md:flex border-b border-slate py-4">
      <div class="md:w-3/4 mb-4 space-y-2">
        <h3 class="text-2xl mb-3">{{ library.name }}</h3>
        <p class="mb-3">{{ library.description }}</p>
        <div class="md:flex text-sm">
          <div class="md:mr-11">First Release:  X.YY.Z</div>
          <div>Categories:  {% for c in library.categories.all %}<a href="#" class="text-orange">{{ c.name }}</a> {% endfor %}</div>
        </div>
        <div class="text-sm">C++ Standard Minimum Level:  {{ library.cpp_standard_minimum }}</div>
      </div>
      <div class="md:w-1/4 mb-4 text-sm">
        <div class="my-5 md:flex">
          <div class="mr-5">Author(s):</div>
          <div class="space-y-3">
            <div><img src="{% static 'img/fpo/user.png' %}" alt="user" class="inline" /> Glen Fernandes</div>
            <div><img src="{% static 'img/fpo/user.png' %}" alt="user" class="inline" /> Glen Fernandes</div>
            <div><img src="{% static 'img/fpo/user.png' %}" alt="user" class="inline" /> Glen Fernandes</div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  <!-- end libraries list -->

  <!-- Pagination -->
  <div class="text-center space-x-3">
    {% if page_obj.has_previous %}
    <a href="?page=1" class="text-orange"><small> &lt;&lt; First</small></a>
    <a href="?page={{ page_obj.previous_page_number }}" class="text-orange"><small> &lt; Previous</small> </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="text-orange"><small>Next <small> &gt; </small></a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="text-orange">Last <small> &gt;&gt;</small></a>
    {% endif %}
  </div>
  <!-- end pagination -->

{% endblock %}
