{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Boost Libraries by Name" %}{% endblock %}
{% block description %}{% trans "Explore the Boost C++ Libraries and discover tools for multithreading, image processing, testing, and more." %}{% endblock %}


{% block content %}
<main class="content">
  {% include "libraries/includes/library_preferences.html" %}

  {# alert for non-current Boost versions #}
  {% include "libraries/includes/version_alert.html" %}

  {# Libraries list #}
  <div class="relative content-between p-3 w-full bg-white md:rounded-lg md:shadow-lg md:p-5 dark:bg-charcoal">
    {% if category %}
      <h5 class="pb-2 text-xl md:text-2xl leading-tight text-orange border-b border-gray-300 dark:border-slate">{{ category }}</h5>
    {% endif %}
    <table class="table-auto w-full">
      <tbody>
      {% for library_version in object_list %}
        {% include "libraries/_library_vertical_list_item.html" %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  {# end libraries list #}

  {# Tools section #}
  <div class="relative content-between p-3 w-full bg-white md:rounded-lg md:shadow-lg md:p-5 dark:bg-charcoal mt-3">
    <h5 class="pb-2 text-xl md:text-2xl leading-tight text-orange border-b border-gray-300 dark:border-slate">Tools</h5>
    <p class="text-gray-600 dark:text-gray-400 mb-4 mt-2 text-sm">Boost developers, testers, and maintainers have developed various programs to help with the administration of the Boost Libraries. Like everything else about Boost, these tools are available in source form, and are part of the regular Boost distribution.</p>
    <table class="table-auto w-full">
      <tbody>
      {% for tool in tools %}
        {% include "libraries/_tool_vertical_list_item.html" %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  {# end tools section #}

  {% if page_obj.paginator %}
  {# Pagination #}
  <div class="space-x-3 text-center">
    {% if page_obj.has_previous %}
      <a href="?page=1" class="text-orange"><small> &lt;&lt; First</small></a>
      <a href="?page={{ page_obj.previous_page_number }}" class="text-orange"><small> &lt; Previous</small> </a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="text-orange"><small>Next <small> &gt; </small></a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="text-orange">Last <small> &gt;&gt;</small></a>
    {% endif %}
  </div>
  {# end pagination #}
  {% endif %}

</main>
{% endblock %}
