{% load static humanize avatar_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}Boost{% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="author"
          content="{% block author %}Boost C++ Libraries{% endblock %}" />
    <link rel="shortcut icon"
          href="{% static 'img/Boost_Symbol_Transparent.svg' %}"
          type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- TODO bring this local if we like it -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'js/boost-gecko/main.56587482.js' %}" defer></script>
    {% block extra_head %}
      <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    {% endblock %}
    {% block css %}
      <style>
        @page {
          margin: 0;
          size: 300mm 180mm;
        }

        .pdf-page {
          background-size: cover;
          padding: 10mm;
          height: 180mm;
          width: 300mm;
          page-break-after: always;
          position: relative;
        }
      </style>
    {% endblock css %}
  </head>
    <body>
      {% block content %}
      {% endblock content %}
    </body>
</html>
