{% extends "admin/library_report_base.html" %}
{% load humanize avatar_tags %}
{% block content %}
  {% with bg_color='bg-gradient-to-tr from-[#7ac3e6]/50 to-[#d9b05e]/50' %}
    <body>
      <div>
        <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
          <div class="flex flex-col">
            <h1 class="mx-auto">Boost</h1>
            <div class="mx-auto mb-4">{{ commit_count|intcomma }} in all releases across all {{ library_count }} libraries</div>
            <div class="flex gap-x-2">
              <div>
                <div class="grid grid-cols-5 gap-2">
                  {% for author in top_contributors %}
                    <div class="flex flex-col gap-y-2 w-20 items-center">
                      {% avatar commitauthor=author %}
                      <div class="w-full flex flex-col">
                        <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                          {{ author.name }}
                        </div>
                        <div class="text-[0.6rem] mx-auto">({{ author.commit_count }})</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <h3 class="mx-auto">Most Committed Libraries</h3>
            <div id="top-committed-libraries-chart" class="w-full text-center"></div>
          </div>
        </div>
        <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
          <div class="flex flex-col mx-auto">
            <h1 class="mx-auto">Mailing List</h1>
            <div class="mx-auto mb-4">There have been {{ mailinglist_total|intcomma }} Mailing List posts since the release of Version&nbsp;{{ first_version.display_name }}</div>
            <div class="flex gap-x-2 mx-auto">
              <div>
                <div class="grid grid-cols-5 gap-2">
                  {% for item in mailinglist_counts %}
                    <div class="flex flex-col gap-y-2 w-20 items-center">
                      {% avatar commitauthor=item %}
                      <div class="w-full flex flex-col">
                        <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                          {{ item.name }}
                        </div>
                        <div class="text-[0.6rem] mx-auto">({{ item.total_count }})</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% for item in library_data %}
          <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
            <div>
              <h3>{{ item.library.name }}</h3>
              <div>{{ item.library.description }}</div>
            </div>
            <div class="flex flex-col gap-y-8">
              <h4>There are {{ item.full_count.commit_count|intcomma }} commits across all releases</h4>
              <div>
                <div class="mb-2">Top Contributors</div>
                <div class="grid grid-cols-5 gap-2 flex-wrap">
                  {% for author in item.top_contributors %}
                    <div class="flex flex-col gap-y-2 w-20 items-center">
                      {% avatar commitauthor=author %}
                      <div class="w-full flex flex-col justify-center items-center">
                        <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                          {{ author.name }}
                        </div>
                        <div class="text-[0.6rem]">({{ author.commit_count }})</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="pdf-page {{ bg_color }}" style="page-break-after: avoid;">This is the last page</div>
      <script>
        var options = {
          series: [{
            name: 'Commits',
            data: [{% for library in top_libraries %}{{library.commit_count}}, {% endfor %}]
          }],
          chart: {
            height: 300,
            type: 'bar',
            foreColor: '#373d3f',
            background: '#ffffff00',
            toolbar: {
              show: false,
            },
          },
          plotOptions: {
            bar: {
              borderRadius: 2,
              dataLabels: {
                position: 'top', // top, center, bottom
              },
            }
          },
          dataLabels: {
            offsetY: -16,
            enabled: true,
            style: {
              fontSize: '11px',
              colors: ["rgb(49, 74, 87)"],
            }
          },
          xaxis: {
            categories: [{% for library in top_libraries %} "{{ library.name }}", {% endfor %}],
            position: 'bottom',
            axisBorder: {
              show: false
            },
            axisTicks: {
              show: false
            },
            tooltip: {
              enabled: true,
            }
          },
          yaxis: {
            axisBorder: {
              show: true
            },
            axisTicks: {
              show: true,
            },
            labels: {
              show: true,
            }
          },
        };
        // SS: putting this in the window object, a bit hacky, to be able to access it in the light/dark switcher - probably a better way
        const chart = new ApexCharts(document.querySelector("#top-committed-libraries-chart"), options);
        chart.render();
      </script>
  {% endwith %}
{% endblock content %}
