{% extends "admin/library_report_base.html" %}
{% load humanize avatar_tags %}
{% block content %}
  {% with bg_color='bg-gradient-to-tr from-[#7ac3e6]/50 to-[#d9b05e]/50' %}
    <div>
      <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col h-full">
          <div class="mb-auto">
            <h1>Boost</h1>
            <div>{{ commit_count|intcomma }} commit{{ commit_count|pluralize }} up through {{ version.display_name }}</div>
            <div>{{ lines_added|intcomma }} line{{ lines_added|pluralize }} added, {{ lines_removed|intcomma }} line{{ lines_removed|pluralize }} removed</div>
            <div>{{ version_commit_count|intcomma }} new commit{{ version_commit_count|pluralize }} in all library repositories</div>
            <div>{{ commit_contributors_release_count }} commit contributors, {{ commit_contributors_new_count }} new</div>
            <div>{{ opened_issues_count|intcomma }} issues opened, {{ closed_issues_count|intcomma }} closed</div>
            <div>{{ mailinglist_total|intcomma }} posts to the developer's mailing list</div>
            <div>{{ mailinglist_contributor_release_count }} unique mailing list users, {{ mailinglist_contributor_new_count }} new</div>
            {% if added_library_count %}
              <div>{{ added_library_count }} librar{{ added_library_count|pluralize:"y,ies" }} added</div>
            {% endif %}
            {% if removed_library_count %}
              <div>{{ removed_library_count }} librar{{ removed_library_count|pluralize:"y,ies" }} removed</div>
            {% endif %}
            <div></div>
          </div>
          {% if downloads %}
          <table class="p-0 m-0 w-full text-sm text-left border-0 border-separate table-auto border-spacing-0 text-slate">
            <tbody>
              <tr>
                <th scope="col"
                    class="p-3 h-8 text-base border border-r-0 border-b-0 border-gray-400 text-center">
                  Platform
                </th>
                <th scope="col"
                    class="p-3 text-base border border-b-0 border-gray-400">
                  File
                </th>
              </tr>
                {% for os, download_files in downloads.items %}
                  {% for download in download_files %}
                    <tr>
                      {% if forloop.first %}
                        <th scope="row"
                            rowspan="{{ download_files|length }}"
                            class="p-2 h-14 whitespace-nowrap border border-r-0 {% if not forloop.parentloop.last %}border-b-0 {% endif %}border-gray-400 text-center">
                          <i class="fab fa-{% if os == 'Unix' %}linux{% else %}windows{% endif %}"></i> {{ os }}
                        </th>
                      {% endif %}
                      <td class="p-2 border {% if not forloop.last or not forloop.parentloop.last %}border-b-0 {% endif %}border-gray-400">
                        <a href="{{ download.url }}" class="text-sky-600 hover:text-orange">{{ download.display_name }}</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
        <div class="flex flex-col">

          {% if contribution_box_graph %}
            <div class="flex flex-col gap-y-4">
              <div class="flex gap-x-1">
                {% for week in contribution_box_graph.weeks %}
                  <div class="flex flex-col gap-y-1">
                    <div class="h-4 relative">
                      {% ifchanged week.days.0.date.month  %}
                        {% if forloop.counter0 != 0 %}
                          <div class="absolute top-0 left-[-5px] text-sm font-bold">
                            {{ week.days.0.date|date:"M" }}
                          </div>
                        {% endif %}
                      {% endifchanged %}
                    </div>
                    {% for day in week.days %}
                      <div
                        class="w-4 h-4 rounded-sm"
                        {% if day.date >= prior_version.release_date %}
                          style="background-color: {{ day.color }};"
                        {% endif %}
                        title="{{ day.count }} commit{{ day.count|pluralize }} on {{ day.date }}"
                      >
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
              <div class="flex gap-x-1 text-sm w-full mx-auto">
                <div class="mr-1">0 commits</div>
                {% for color in contribution_box_graph.colors %}
                  <div class="h-4 w-4 rounded-sm" style="background-color: {{ color }}">
                  </div>
                {% endfor %}
                <div class="ml-1">{{ contribution_box_graph.max }} commits</div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
      <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col">
          <h1 class="mx-auto">Boost {{ version.display_name }}</h1>
          <div class="mx-auto mb-4">{{ version_commit_count|intcomma }} Commit{{ version_commit_count|pluralize }} Across {{ library_count }} Repositories</div>
          <div class="flex gap-x-2">
            <div>
              <div class="grid grid-cols-5 gap-2">
                {% for author in top_contributors_release_overall %}
                  <div class="flex flex-col gap-y-2 w-20 items-center">
                    {% avatar commitauthor=author %}
                    <div class="w-full flex flex-col">
                      <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                        {{ author.name }}
                      </div>
                      <div class="text-[0.6rem] mx-auto">({{ author.commit_count }})</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <h3 class="mx-auto">Most Committed Libraries</h3>
          <div id="top-committed-libraries-chart" class="w-full text-center"></div>
        </div>
      </div>
      <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col mx-auto">
          <h1 class="mx-auto">Mailing List</h1>
          <div class="mx-auto mb-4">
            There were
            {% if mailinglist_total %}
              {{ mailinglist_total|intcomma }}
            {% else %}
              no
            {% endif %}
            mailing list post{{ mailinglist_total|pluralize }} in version&nbsp;{{ version.display_name }}
          </div>
          <div class="mx-auto mb-4">
            There
            {{ mailinglist_contributor_release_count|pluralize:"was,were" }}
            {{ mailinglist_contributor_release_count }}
            poster{{ mailinglist_contributor_release_count|pluralize }}
            in this version. ({{ mailinglist_contributor_new_count }} New)
          </div>
          <div class="flex gap-x-2 mx-auto">
            <div>
              <div class="grid grid-cols-5 gap-2">
                {% for item in mailinglist_counts %}
                  <div class="flex flex-col gap-y-2 w-20 items-center">
                    {% avatar commitauthor=item %}
                    <div class="w-full flex flex-col">
                      <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                        {{ item.name }}
                      </div>
                      <div class="text-[0.6rem] mx-auto">({{ item.total_count }})</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if wordcloud_base64 %}
        <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
          <div class="flex flex-col mx-auto">
            <h1 class="mx-auto">Mailing List Word Cloud</h1>
            <div class="flex mx-auto">
              <img src="data:image/png;base64,{{ wordcloud_base64 }}" alt="Mailing List Word Cloud" class="w-full">
            </div>
          </div>
        </div>
      {% endif %}
      {% for slack_group in slack %}
        <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
          <div class="flex flex-col mx-auto">
            <h1 class="mx-auto">Slack Activity</h1>
            <div class="flex gap-x-4">
              {% for slack_item in slack_group %}
                <div class="flex flex-col mx-auto gap-y-2">
                  <div class="font-bold">
                    Top Contributors in #{{slack_item.channel.name}}
                  </div>
                  <div class="flex gap-x-2 mx-auto">
                    <div>
                      <div class="m-auto grid grid-cols-1 gap-2">
                        {% for item in slack_item.users %}
                          <div class="flex flex-row gap-y-2 w-40 items-center ml-6">
                            {% base_avatar image_url=item.image_48 name=item.real_name href=None %}
                            <div class="w-full flex flex-col ml-2">
                              <div class="text-[0.8rem] text-bold overflow-ellipsis overflow-hidden whitespace-nowrap w-full">
                                {{ item.real_name }}
                              </div>
                              <div class="text-[0.7rem]">{{ item.total }}</div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="mx-auto">
                      {{ slack_item.total|intcomma }}
                      slack message{{ slack_item.total|pluralize }} in #{{ slack_item.channel.name }}
                    </div>
                    <div class="mx-auto">
                      {{ slack_item.user_count }}
                      {{ slack_item.user_count|pluralize:"person,people" }}
                      conversing in this release. ({{ slack_item.new_user_count }} New)
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col h-full mx-auto">
          <h1 class="mx-auto">Library Index</h1>
          <div class="flex flex-col flex-wrap gap-x-4 gap-y-1 text-xs h-5/6">
            {% for name in library_names %}
              <div class="max-w-[10rem]">
                {{ name }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% for item in library_data %}
        <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
          <div>
            <h3>{{ item.library.name }}</h3>
            <div>{{ item.library.description }}</div>
          </div>
          <div class="flex flex-col gap-y-4">
            <h4>
              There
              {{ item.version_count.commit_count|pluralize:"was,were" }}
              {{ item.version_count.commit_count }}
              commit{{ item.version_count.commit_count|pluralize }}
              in release {{ version.display_name }}
            </h4>
            {% with insertions=item.library_version.insertions deletions=item.library_version.deletions %}
              <div>
                {{ insertions|intcomma }} line{{ insertions|pluralize }} added, {{ deletions|intcomma }} line{{ deletions|pluralize }} removed
              </div>
            {% endwith %}
            {% with count=item.new_contributors_count.count %}
              {% if count >= 1 %}
                <div>
                  There {{ count|pluralize:"was,were" }} {{ count }} new contributor{{ count|pluralize }} this release!
                </div>
              {% endif %}
            {% endwith %}
            <div>
              There {{ item.issues.opened|pluralize:"was,were" }} {{ item.issues.opened }} issue{{ item.issues.opened|pluralize }} opened.
              There {{ item.issues.closed|pluralize:"was,were" }} {{ item.issues.closed }} issue{{ item.issues.closed|pluralize }} closed.
            </div>
            <div>
              <div class="mb-2">Top Contributors</div>
              <div class="grid grid-cols-5 gap-2 flex-wrap">
                {% for author in item.top_contributors_release %}
                  <div class="flex flex-col gap-y-2 w-20 items-center">
                    {% avatar commitauthor=author %}
                    <div class="w-full flex flex-col justify-center items-center">
                      <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                        {{ author.name }}
                      </div>
                      <div class="text-[0.6rem]">({{ author.commit_count }})</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="pdf-page {{ bg_color }}" style="page-break-after: avoid;">This is the last page</div>
    <script>
      var options = {
        series: [{
          name: 'Commits',
          data: [{% for library in top_libraries_for_version|slice:":5" %}{{library.commit_count}}, {% endfor %}]
        }],
        chart: {
          height: 300,
          type: 'bar',
          foreColor: '#373d3f',
          background: '#ffffff00',
          toolbar: {
            show: false,
          },
        },
        plotOptions: {
          bar: {
            borderRadius: 2,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          offsetY: -16,
          enabled: true,
          style: {
            fontSize: '11px',
            colors: ["rgb(49, 74, 87)"],
          }
        },
        xaxis: {
          categories: [{% for library in top_libraries_for_version|slice:":5" %} "{{ library.name }}", {% endfor %}],
          position: 'bottom',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: true
          },
          axisTicks: {
            show: true,
          },
          labels: {
            show: true,
          }
        },
      };
      const chart = new ApexCharts(document.querySelector("#top-committed-libraries-chart"), options);
      chart.render();
    </script>
  {% endwith %}
{% endblock content %}
