{% extends "admin/library_report_base.html" %}
{% load humanize avatar_tags %}
{% load static %}
{% block css %}
{{ block.super }}
<style>
{% include "includes/_css_variables.css" %}
.link-icons a:hover {
  color: var(--primary-color);
}

.sponsor-message ul > li {
  list-style: circle;
  margin-left: 2rem;

}
.sponsor-message a {
  color: rgb(2, 132, 199);
}

.sponsor-message a:hover {
  color: rgb(255, 159, 0);
}

</style>
{% endblock css %}
{% block content %}
  {% with bg_color='' %}
    <div>
      <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col h-full gap-y-6">
          <div class="flex flex-col gap-y-2">
            <h1 class="flex mb-0 font-bold">
              <img
                class="mt-[3px]"
                style="width:3.3rem; margin-right:.5rem;" src="{% static 'img/Boost_Symbol_Transparent.svg' %}"
              >
              Boost
            </h1>
            <div class="flex gap-x-12 link-icons my-4 text-2xl justify-between">
              {% include "includes/_social_icon_links.html" %}
            </div>
            <div><span class="font-bold">{{ commit_count|intcomma }}</span> commit{{ commit_count|pluralize }} up through {{ version.display_name }}</div>
            <div><span class="font-bold">{{ lines_added|intcomma }}</span> line{{ lines_added|pluralize }} added, <span class="font-bold">{{ lines_removed|intcomma }}</span> line{{ lines_removed|pluralize }} removed</div>
            <div><span class="font-bold">{{ version_commit_count|intcomma }}</span> new commit{{ version_commit_count|pluralize }} in all library repositories</div>
            <div><span class="font-bold">{{ commit_contributors_release_count }}</span> commit contributors, <span class="font-bold">{{ commit_contributors_new_count }}</span> new</div>
            <div><span class="font-bold">{{ opened_issues_count|intcomma }}</span> issues opened, <span class="font-bold">{{ closed_issues_count|intcomma }}</span> closed</div>
            <div><span class="font-bold">{{ mailinglist_total|intcomma }}</span> posts to the developer's mailing list</div>
            <div><span class="font-bold">{{ mailinglist_contributor_release_count }}</span> unique mailing list users, <span class="font-bold">{{ mailinglist_contributor_new_count }}</span> new</div>
            {% if added_library_count %}
              <div><span class="font-bold">{{ added_library_count }}</span> librar{{ added_library_count|pluralize:"y,ies" }} added</div>
            {% endif %}
            {% if removed_library_count %}
              <div><span class="font-bold">{{ removed_library_count }}</span> librar{{ removed_library_count|pluralize:"y,ies" }} removed</div>
            {% endif %}
          </div>
          {% if downloads %}
          <table class="p-0 m-0 w-full text-sm text-left border-0 border-separate table-auto border-spacing-0 text-slate">
            <tbody>
              <tr>
                <th scope="col"
                    colspan="2"
                    class="p-3 h-8 text-base border border-b-0 border-gray-400 text-center">
                  Download Now!
                </th>
              </tr>
                {% for os, download_files in downloads.items %}
                  {% for download in download_files %}
                    <tr>
                      {% if forloop.first %}
                        <th scope="row"
                            rowspan="{{ download_files|length }}"
                            class="p-2 h-14 whitespace-nowrap border border-r-0 {% if not forloop.parentloop.last %}border-b-0 {% endif %}border-gray-400 text-center">
                          <i class="fab fa-{% if os == 'Unix' %}linux{% else %}windows{% endif %}"></i> {{ os }}
                        </th>
                      {% endif %}
                      <td class="p-2 border {% if not forloop.last or not forloop.parentloop.last %}border-b-0 {% endif %}border-gray-400">
                        <a href="{{ download.url }}" class="text-sky-600 hover:text-orange">{{ download.display_name }}</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
        <div class="flex flex-col h-full justify-between">

          {% if version.release_report_cover_image and version.release_report_cover_image.url %}
            <img
              class="max-h-[60%]"
              src="{{ version.release_report_cover_image.url }}"
              alt="release report cover image"
            >
          {% endif %}

          {% if contribution_box_graph %}
            <div class="flex flex-col gap-y-4">
              <div class="flex gap-x-1 mx-auto">
                {% for week in contribution_box_graph.weeks %}
                  <div class="flex flex-col gap-y-1">
                    <div class="h-4 relative">
                      {% ifchanged week.days.0.date.month  %}
                        {% if forloop.counter0 != 0 %}
                          <div class="absolute top-0 left-[-5px] text-sm font-bold">
                            {{ week.days.0.date|date:"M" }}
                          </div>
                        {% endif %}
                      {% endifchanged %}
                    </div>
                    {% for day in week.days %}
                      <div
                        class="w-4 h-4 rounded-sm"
                        {% if day.date >= prior_version.release_date %}
                          style="background-color: {{ day.color }};"
                        {% endif %}
                        title="{{ day.count }} commit{{ day.count|pluralize }} on {{ day.date }}"
                      >
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
              <div class="flex gap-x-1 text-sm mx-auto">
                <div class="mr-1"><span class="font-bold">0</span> commits</div>
                {% for color in contribution_box_graph.colors %}
                  <div class="h-4 w-4 rounded-sm" style="background-color: {{ color }}">
                  </div>
                {% endfor %}
                <div class="ml-1"><span class="font-bold">{{ contribution_box_graph.max }}</span> commits</div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>

      {% if version.sponsor_message %}
        <div class="pdf-page !p-16 {{ bg_color }}">
          <h2>From the Fiscal Sponsorship Committee</h2>
          <div class="flex flex-col w-full h-[80%] dynamic-text sponsor-message justify-between">
            <div class="">{{ version.sponsor_message|safe }}</div>
            <div class="committee_members border-t-1 flex flex-wrap mt-2 text-sm text-center">
              {% for user in committee_members|dictsort:"first_name" %}
                <figure class="w-32 m-2">
                  {% if user.hq_image %}
                    <img src="{{ user.hq_image_render.url }}" alt="{{ user.first_name }} {{ user.last_name }}" />
                  {% else %}
                    <img src="{% static 'img/Boost_Symbol_Transparent.svg' %}" alt="" />
                  {% endif %}
                  <figcaption class="p-1">{{user.first_name}} {{user.last_name}}</figcaption>
                </figure>
              {% endfor %}
             </div>
          </div>
          {% include "admin/_release_report_page_footer.html" %}
        </div>
      {% endif %}

      <div class="flex flex-col pdf-page items-center justify-items-center {{ bg_color }}">

        <div class="flex flex-col">
          <h1 class="flex">
            <img
              class="mt-[3px]"
              style="width:3.3rem; margin-right:.5rem;" src="{% static 'img/Boost_Symbol_Transparent.svg' %}"
            >
            Boost {{ version.display_name }}
          </h1>
          <h2>Git activity for this release</h2>
          <div class="mx-auto mb-4"><span class="font-bold">{{ version_commit_count|intcomma }}</span> Commit{{ version_commit_count|pluralize }} Across <span class="font-bold">{{ library_count }}</span> Repositories</div>
        </div>

        <div class="flex gap-x-8 justify-around w-full">
          <div class="px-4">
            <div class="mx-auto mb-6">Top Contributors</div>
            <div class="m-auto grid grid-cols-1 gap-2">
            {% for author in top_contributors_release_overall %}
              <div class="flex flex-row gap-y-2 w-40 items-center">
                {% avatar commitauthor=author %}
                <div class="w-full flex flex-col ml-2">
                  <div class="text-[0.8rem] font-semibold overflow-ellipsis overflow-hidden whitespace-nowrap w-full">
                    {{ author.name }}
                  </div>
                  <div class="text-[0.7rem]"><span class="font-bold">{{ author.commit_count }}</span> commit{{ author.commit_count|pluralize }}</div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>

          <div class="flex flex-col justify-center">
            <h3 class="mx-auto">Most Committed Libraries</h3>
            <div id="top-committed-libraries-chart" class="w-full text-center"></div>
          </div>
        </div>
      </div>

      <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">

        <div class="flex gap-x-8 justify-around w-full">
          <div class="px-4">
            <div class="mx-auto mb-6">Top Contributors</div>
            <div class="m-auto grid grid-cols-1 gap-2">
            {% for item in mailinglist_counts %}
              <div class="flex flex-row gap-y-2 w-40 items-center">
                {% avatar commitauthor=item %}
                <div class="w-full flex flex-col ml-2">
                  <div class="text-[0.8rem] font-semibold overflow-ellipsis overflow-hidden whitespace-nowrap w-full">
                    {{ item.name }}
                  </div>
                  <div class="text-[0.7rem]"><span class="font-bold">{{ item.total_count }}</span> post{{ item.total_count|pluralize }}</div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>

          <div class="flex flex-col justify-center">
            <h2 class="mx-auto">Mailing List</h2>
            <div class="mx-auto mb-4">
              There were
              {% if mailinglist_total %}
                <span class="font-bold">{{ mailinglist_total|intcomma }}</span>
              {% else %}
                no
              {% endif %}
              mailing list post{{ mailinglist_total|pluralize }} in version&nbsp;{{ version.display_name }}
            </div>
            <div class="mx-auto mb-4">
              There
              {{ mailinglist_contributor_release_count|pluralize:"was,were" }}
              <span class="font-bold">{{ mailinglist_contributor_release_count }}</span>
              poster{{ mailinglist_contributor_release_count|pluralize }}
              in this version. (<span class="font-bold">{{ mailinglist_contributor_new_count }}</span> New)
            </div>
          </div>
        </div>
        {% include "admin/_release_report_page_footer.html" %}
      </div>
      {% if wordcloud_base64 %}
        <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
          <div class="flex flex-col mx-auto">
            <h2 class="mx-auto">Mailing List Word Cloud</h2>
            <div class="flex mx-auto">
              <img src="data:image/png;base64,{{ wordcloud_base64 }}" alt="Mailing List Word Cloud" class="w-full">
            </div>
          </div>

          {% include "admin/_release_report_page_footer.html" %}

        </div>
      {% endif %}
      {% if slack %}
        {% for slack_group in slack %}
          <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
            <div class="flex flex-col mx-auto">
              <h2 class="mx-auto">Slack Activity</h2>
              <div class="flex gap-x-[6rem]">
                {% for slack_item in slack_group %}
                  <div class="flex flex-col mx-auto gap-y-2">
                    <div class="font-bold">
                      Top Contributors in #{{slack_item.channel.name}}
                    </div>
                    <div class="flex gap-x-2">
                      <div>
                        <div class="m-auto grid grid-cols-1 gap-2">
                          {% for item in slack_item.users %}
                            <div class="flex flex-row gap-y-2 w-40 items-center">
                              {% base_avatar image_url=item.image_48 name=item.real_name href=None %}
                              <div class="w-full flex flex-col ml-2">
                                <div class="text-[0.8rem] font-semibold overflow-ellipsis overflow-hidden whitespace-nowrap w-full">
                                  {{ item.real_name }}
                                </div>
                                <div class="text-[0.7rem]"><span class="font-bold">{{ item.total }}</span> message{{ item.total|pluralize }}</div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="mx-auto">
                        <span class="font-bold">{{ slack_item.total|intcomma }}</span>
                        slack message{{ slack_item.total|pluralize }} in #{{ slack_item.channel.name }}
                      </div>
                      <div class="mx-auto">
                        <span class="font-bold">{{ slack_item.user_count }}</span>
                        {{ slack_item.user_count|pluralize:"person,people" }}
                        conversing in this release. (<span class="font-bold">{{ slack_item.new_user_count }}</span> New)
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {% include "admin/_release_report_page_footer.html" %}
          </div>
        {% endfor %}
      {% endif %}
      <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col h-full mx-auto w-full">
          <h2 class="mx-auto">Library Index</h2>
          <div class="flex flex-col flex-wrap gap-x-4 gap-y-1 text-xs h-5/6">
            {% for name in library_names %}
              <div class="max-w-[10rem]">
                {{ name }}
              </div>
            {% endfor %}
          </div>
        </div>
        {% include "admin/_release_report_page_footer.html" %}
      </div>
      {% for item in library_data %}
        <div class="pdf-page flex flex-col items-center justify-center {{ bg_color }}">
          <div class="grid grid-cols-3 gap-x-8 w-full p-4">
            <div class="px-4">
              <div class="mx-auto mb-6">Top Contributors</div>
              <div class="m-auto grid grid-cols-1 gap-2">
              {% for author in item.top_contributors_release %}
                <div class="flex flex-row gap-y-2 w-40 items-center">
                  {% avatar commitauthor=author %}
                  <div class="w-full flex flex-col ml-2">
                    <div class="text-[0.8rem] font-semibold overflow-ellipsis overflow-hidden whitespace-nowrap w-full">
                      {{ author.name }}
                    </div>
                    <div class="text-[0.7rem]"><span class="font-bold">{{ author.commit_count }}</span> commit{{ author.commit_count|pluralize }}</div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>

            <div class="col-span-2 flex flex-col gap-y-4">
              <div>
                <h2 class="text-orange mb-1 mt-0">{{ item.library.name }}</h2>
                <div>{{ item.library.description }}</div>
              </div>
              <div class="flex flex-col gap-y-1">
                <div>
                  There
                  {{ item.version_count.commit_count|pluralize:"was,were" }}
                  <span class="font-bold">{{ item.version_count.commit_count }}</span>
                  commit{{ item.version_count.commit_count|pluralize }}
                  in release {{ version.display_name }}
                </div>
                {% with insertions=item.library_version.insertions deletions=item.library_version.deletions %}
                  <div>
                    <span class="font-bold">{{ insertions|intcomma }}</span> line{{ insertions|pluralize }} added, <span class="font-bold">{{ deletions|intcomma }}</span> line{{ deletions|pluralize }} removed
                  </div>
                {% endwith %}
                {% with count=item.new_contributors_count.count %}
                  {% if count >= 1 %}
                    <div>
                      There {{ count|pluralize:"was,were" }} <span class="font-bold">{{ count }}</span> new contributor{{ count|pluralize }} this release!
                    </div>
                  {% endif %}
                {% endwith %}
                <div>
                  There {{ item.issues.opened|pluralize:"was,were" }} <span class="font-bold">{{ item.issues.opened }}</span> issue{{ item.issues.opened|pluralize }} opened
                  and {{ item.issues.closed|pluralize:"was,were" }} <span class="font-bold">{{ item.issues.closed }}</span> issue{{ item.issues.closed|pluralize }} closed
                </div>
                {% if item.deps.added or item.deps.removed %}
                  <div>
                    There {{ item.deps.added|length|pluralize:"was,were" }} <span class="font-bold">{{ item.deps.added|length }}</span> dependenc{{ item.deps.added|length|pluralize:"y,ies" }} added
                    and
                    <span class="font-bold">{{ item.deps.removed|length }}</span> dependenc{{ item.deps.removed|length|pluralize:"y,ies" }} removed
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% include "admin/_release_report_page_footer.html" %}
        </div>
      {% endfor %}
    </div>
    <script>
      var options = {
        series: [{
          name: 'Commits',
          data: [{% for library in top_libraries_for_version|slice:":5" %}{{library.commit_count}}, {% endfor %}]
        }],
        chart: {
          height: 400,
          type: 'bar',
          foreColor: '#373d3f',
          background: '#ffffff00',
          toolbar: {
            show: false,
          },
        },
        plotOptions: {
          bar: {
            borderRadius: 2,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          offsetY: -16,
          enabled: true,
          style: {
            fontSize: '11px',
            colors: ["rgb(49, 74, 87)"],
          }
        },
        xaxis: {
          categories: [{% for library in top_libraries_for_version|slice:":5" %} "{{ library.name }}", {% endfor %}],
          position: 'bottom',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: true
          },
          axisTicks: {
            show: true,
          },
          labels: {
            show: true,
          }
        },
      };
      const chart = new ApexCharts(document.querySelector("#top-committed-libraries-chart"), options);
      chart.render();
    </script>
    <script>
      // Use fitText to resize text to fit its container.
      // Starts at MAX_FONT_SIZE and tries smaller sizes until it fits or hits MIN_FONT_SIZE.
      function fitText() {
        for (const text of document.querySelectorAll('.dynamic-text')) {
          const MAX_FONT_SIZE = 24;
          const MIN_FONT_SIZE = 10;
          // Start with a large font size
          let fontSize = MAX_FONT_SIZE;
          text.style.fontSize = fontSize + 'px';

          // Reduce font size until text fits container
          while (
            (text.scrollHeight > text.clientHeight ||
            text.scrollWidth > text.clientWidth) &&
            fontSize > MIN_FONT_SIZE
          ) {
            fontSize--;
            text.style.fontSize = fontSize + 'px';
          }
        }
      }

      window.addEventListener('DOMContentLoaded', fitText);
    </script>
  {% endwith %}
{% endblock content %}
