{% extends "admin/library_report_base.html" %}
{% load humanize avatar_tags %}
{% block content %}
  {% with bg_color='bg-gradient-to-tr from-[#7ac3e6]/50 to-[#d9b05e]/50' %}
    <div>
      <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
        <div>
          <h1>Boost</h1>
          <div>{{ commit_count|intcomma }} commit{{ commit_count|pluralize }} up through {{ version.display_name }}</div>
          <div>{{ lines_added|intcomma }} line{{ lines_added|pluralize }} added, {{ lines_removed|intcomma }} line{{ lines_removed|pluralize }} removed</div>
          <div>{{ version_commit_count|intcomma }} new commit{{ version_commit_count|pluralize }} in all library repositories</div>
          <div>{{ commit_contributors_release_count }} commit contributors, {{ commit_contributors_new_count }} new</div>
          <div>{{ opened_issues_count|intcomma }} issues opened, {{ closed_issues_count|intcomma }} closed</div>
          <div>{{ mailinglist_total|intcomma }} posts to the developer's mailing list</div>
          <div>{{ mailinglist_contributor_release_count }} unique mailing list users, {{ mailinglist_contributor_new_count }} new</div>
          {% if added_library_count %}
            <div>{{ added_library_count }} librar{{ added_library_count|pluralize:"y,ies" }} added</div>
          {% endif %}
          {% if removed_library_count %}
            <div>{{ removed_library_count }} librar{{ removed_library_count|pluralize:"y,ies" }} removed</div>
          {% endif %}
          <div></div>
        </div>
      </div>
      <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col">
          <h1 class="mx-auto">Boost {{ version.display_name }}</h1>
          <div class="mx-auto mb-4">{{ version_commit_count|intcomma }} Commit{{ version_commit_count|pluralize }} Across {{ library_count }} Repositories</div>
          <div class="flex gap-x-2">
            <div>
              <div class="grid grid-cols-5 gap-2">
                {% for author in top_contributors_release_overall %}
                  <div class="flex flex-col gap-y-2 w-20 items-center">
                    {% avatar commitauthor=author %}
                    <div class="w-full flex flex-col">
                      <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                        {{ author.name }}
                      </div>
                      <div class="text-[0.6rem] mx-auto">({{ author.commit_count }})</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <h3 class="mx-auto">Most Committed Libraries</h3>
          <div id="top-committed-libraries-chart" class="w-full text-center"></div>
        </div>
      </div>
      <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col mx-auto">
          <h1 class="mx-auto">Mailing List</h1>
          <div class="mx-auto mb-4">
            There were
            {% if mailinglist_total %}
              {{ mailinglist_total|intcomma }}
            {% else %}
              no
            {% endif %}
            mailing list post{{ mailinglist_total|pluralize }} in version&nbsp;{{ version.display_name }}
          </div>
          <div class="mx-auto mb-4">
            There
            {{ mailinglist_contributor_release_count|pluralize:"was,were" }}
            {{ mailinglist_contributor_release_count }}
            poster{{ mailinglist_contributor_release_count|pluralize }}
            in this version. ({{ mailinglist_contributor_new_count }} New)
          </div>
          <div class="flex gap-x-2 mx-auto">
            <div>
              <div class="grid grid-cols-5 gap-2">
                {% for item in mailinglist_counts %}
                  <div class="flex flex-col gap-y-2 w-20 items-center">
                    {% avatar commitauthor=item %}
                    <div class="w-full flex flex-col">
                      <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                        {{ item.name }}
                      </div>
                      <div class="text-[0.6rem] mx-auto">({{ item.total_count }})</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if wordcloud_base64 %}
        <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
          <div class="flex flex-col mx-auto">
            <h1 class="mx-auto">Mailing List Word Cloud</h1>
            <div class="flex mx-auto">
              <img src="data:image/png;base64,{{ wordcloud_base64 }}" alt="Mailing List Word Cloud" class="w-full">
            </div>
          </div>
        </div>
      {% endif %}
      <div class="pdf-page flex items-center justify-items-center {{ bg_color }}">
        <div class="flex flex-col h-full mx-auto">
          <h1 class="mx-auto">Library Index</h1>
          <div class="flex flex-col flex-wrap gap-x-4 gap-y-1 text-xs h-5/6">
            {% for name in library_names %}
              <div class="max-w-[10rem]">
                {{ name }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% for item in library_data %}
        <div class="pdf-page grid grid-cols-2 gap-x-4 items-center justify-items-center {{ bg_color }}">
          <div>
            <h3>{{ item.library.name }}</h3>
            <div>{{ item.library.description }}</div>
          </div>
          <div class="flex flex-col gap-y-4">
            <h4>
              There
              {{ item.version_count.commit_count|pluralize:"was,were" }}
              {{ item.version_count.commit_count }}
              commit{{ item.version_count.commit_count|pluralize }}
              in release {{ version.display_name }}
            </h4>
            {% with insertions=item.library_version.insertions deletions=item.library_version.deletions %}
              <div>
                {{ insertions|intcomma }} line{{ insertions|pluralize }} added, {{ deletions|intcomma }} line{{ deletions|pluralize }} removed
              </div>
            {% endwith %}
            {% with count=item.new_contributors_count.count %}
              {% if count >= 1 %}
                <div>
                  There {{ count|pluralize:"was,were" }} {{ count }} new contributor{{ count|pluralize }} this release!
                </div>
              {% endif %}
            {% endwith %}
            <div>
              There {{ item.issues.opened|pluralize:"was,were" }} {{ item.issues.opened }} issue{{ item.issues.opened|pluralize }} opened.
              There {{ item.issues.closed|pluralize:"was,were" }} {{ item.issues.closed }} issue{{ item.issues.closed|pluralize }} closed.
            </div>
            <div>
              <div class="mb-2">Top Contributors</div>
              <div class="grid grid-cols-5 gap-2 flex-wrap">
                {% for author in item.top_contributors_release %}
                  <div class="flex flex-col gap-y-2 w-20 items-center">
                    {% avatar commitauthor=author %}
                    <div class="w-full flex flex-col justify-center items-center">
                      <div class="text-[0.6rem] overflow-ellipsis overflow-hidden whitespace-nowrap w-full text-center">
                        {{ author.name }}
                      </div>
                      <div class="text-[0.6rem]">({{ author.commit_count }})</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if item.library_version.get_release_notes %}
          <div class="pdf-page {{ bg_color }} release-notes-page">
            <h3>{{ item.library.name }} Release Notes <span class="continued"></span></h3>
            <div class="flex flex-col flex-wrap px-2 gap-x-4 text-xs h-[90%] w-1/2 release-notes-content">
              {{ item.library_version.get_release_notes|safe }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="pdf-page {{ bg_color }}" style="page-break-after: avoid;">This is the last page</div>
    <script>
      var options = {
        series: [{
          name: 'Commits',
          data: [{% for library in top_libraries_for_version|slice:":5" %}{{library.commit_count}}, {% endfor %}]
        }],
        chart: {
          height: 300,
          type: 'bar',
          foreColor: '#373d3f',
          background: '#ffffff00',
          toolbar: {
            show: false,
          },
        },
        plotOptions: {
          bar: {
            borderRadius: 2,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          offsetY: -16,
          enabled: true,
          style: {
            fontSize: '11px',
            colors: ["rgb(49, 74, 87)"],
          }
        },
        xaxis: {
          categories: [{% for library in top_libraries_for_version|slice:":5" %} "{{ library.name }}", {% endfor %}],
          position: 'bottom',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: true
          },
          axisTicks: {
            show: true,
          },
          labels: {
            show: true,
          }
        },
      };
      const chart = new ApexCharts(document.querySelector("#top-committed-libraries-chart"), options);
      chart.render();
    </script>

    <script>
      // Release notes can sometimes be too long for a single page.
      // Logic for dynamically creating new pages for release notes based on content length.
      // Iterates through bullet top level `li` elements and appends them until overflow,
      //   creates a new page, and continues...
      function getSides(element) {
        const right = element.offsetLeft + element.offsetWidth;
        const bottom = element.offsetTop + element.offsetHeight;
        return {top: element.offsetTop, left: element.offsetLeft, right, bottom}
      }

      function cloneReleaseNotesPage(page) {
        newPage = page.cloneNode(true);
        newPage.querySelector(".release-notes-content").innerHTML = "";
        newPage.querySelector(".continued").textContent = "(continued)"
        page.parentNode.insertBefore(newPage, page.nextSibling);
        return newPage
      }

      function fixReleaseNotes(page) {
        let pageSize = getSides(page);
        let insertIntoPage = 0;
        let contents = page.querySelector(".release-notes-content");
        const elements = contents.querySelectorAll(":scope > li");
        contents.innerHTML = "";
        for (let i=0; i<elements.length; i++) {
          const el = elements[i];
          contents.appendChild(el);
          let size = getSides(el);
          if (size.bottom > pageSize.bottom || size.right > pageSize.right) {
            // we went too far, remove the element and add it to a new page
            contents.removeChild(el);
            page = cloneReleaseNotesPage(page);
            contents = page.querySelector(".release-notes-content");
            pageSize = getSides(page);
            if (insertIntoPage > 0) {
              i--;
            }
            insertIntoPage = 0;
          } else {
            insertIntoPage++;
          }
        }
      }
      document.addEventListener("DOMContentLoaded", function() {
        for (const element of document.querySelectorAll(".release-notes-page")) {
          fixReleaseNotes(element);
        }
      })
    </script>
  {% endwith %}
{% endblock content %}
