{% load avatar_tags %}
<div class="mx-auto mb-6">Top Contributors</div>
<div class="m-auto grid grid-cols-1 gap-2">
  {% for author in library.top_contributors_release %}
    <div class="flex flex-row gap-y-2 w-40 items-center">
      {% avatar commitauthor=author %}
      <div class="w-full flex flex-col ml-2">
        <div class="text-[0.8rem] font-semibold overflow-ellipsis overflow-hidden whitespace-nowrap w-full">
          {{ author.display_name }}
        </div>
        <div class="text-[0.7rem]"><span class="font-bold">{{ author.commit_count }}</span> commit{{ author.commit_count|pluralize }}</div>
      </div>
    </div>
  {% endfor %}
</div>
