{% extends 'admin/library_report_base.html' %}

{% block extra_head %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <div class="flex container my-4 mx-auto">The {{ report_type }} is being generated. This page will refresh periodically, please wait.</div>
  <div hx-get="{{widget_endpoint|escape}}" hx-trigger="every 2s">
    {{task_widget|safe}}
  </div>
{% endblock %}
