{% extends "admin/library_report_base.html" %}

{% block content %}
  <div class="flex container my-4 mx-auto">
    The {{ report_type }} is being generated. This page will refresh periodically, please wait.
  </div>
  <div class="container my-4 mx-auto">
    {% for key, value in tasks.items %}
    <p>{{value.name}}:  {{value.value}}</p>
    {% endfor %}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function () {
        window.location.reload()
      }, 2000);
    })
  </script>
{% endblock content %}
