<div class="flex container my-4 mx-auto">The {{ report_type }} is being generated. This page will refresh periodically, please wait.</div>
<div class="container my-4 mx-auto">
    <table>
        <thead>
            <th>Task Name</th>
            <th>Task Status</th>
            <th>Errors</th>
        </thead>
        <tbody>
            {% for key, value in tasks.items %}
            <tr>
                <td>{{ value.name }}</td>
                <td>{{ value.value }}</td>
                <td style="color: red;">
                    {% if value.error %}
                    {{value.error}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
