{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
<ul class="object-tools">
    {% block object-tools-items %}
        {{ block.super }}
        <li><a href="{% url 'admin:import_new_releases' %}" class="addlink">{% trans "Import New Releases" %}</a></li>
        <li>
            <a
                title='{% trans "Run all required tasks after a new release. Expect this to take up to a few hours." %}'
                href="{% url 'admin:post_release_tasks' %}" class="addlink">{% trans "Do it all" %}
            </a>
        </li>
    {% endblock %}
</ul>
{% endblock %}
