apiVersion: v1
kind: Service
metadata:
  name: boost
  labels:
    env: {{ .Values.deploymentEnvironment }}
    image: {{ .Values.ImageTag }}
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: boost
    env: {{ .Values.deploymentEnvironment }}
