{% load static %}

<footer class="py-2 px-4 my-5 mx-auto max-w-full md:pb-11 md:mb-11">
  <div class="items-center px-5 pt-4 mt-4 text-center">
    <div class="justify-between pt-3 pb-3 sm:space-x-3 xl:space-x-6 border-dotted border-t-2 px-20 border-t-white/5 w-fit mx-auto">
      <a class="block my-2 sm:inline hover:text-orange" href="/help/">Contact</a>
      <a class="block my-2 sm:inline hover:text-orange" href="{% url 'privacy' %}">Privacy Policy</a>
      <a class="block my-2 sm:inline hover:text-orange" href="{% url 'terms-of-use' %}">Terms of Use</a>
      <a class="my-2 inline hover:text-orange" href="https://twitter.com/boost_libraries" target="_blank">Twitter</a>
      <span class="inline sm:hidden text-white/30">&nbsp;&nbsp; | &nbsp;&nbsp;</span>
      <a class="my-2 inline hover:text-orange" href="https://github.com/boostorg" target="_blank">GitHub</a>
    </div>
    <div><span class="text-sm">Website supported by grants from <a href="https://cppalliance.org/" target="_blank" class="text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange">The C++ Alliance</a>.</span></div>
    {# <div><span class="text-sm"><i>Slack is a registered trademark and service mark of Slack Technologies, Inc.</i></span></div> #}
  </div>
</footer>
