{% load static %}
<style>
  .main-footer {
    padding: .5rem 1rem;
    margin: auto;
  }

  .footer-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    text-align: center;
    max-width:60rem;
  }

  .links {
    display: flex;
    justify-content: space-between;
    padding-top: .75rem;
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .links a {
    display: block;
    margin: .5rem 0;
    color: var(--text-color);
  }

  .links a:hover, .link-icons a:hover {
    color: var(--primary-color);
  }

  .link-icons {
    display:flex;
    width: 14rem;
    align-items:center;
    justify-content: space-between;
    margin: 0;
  }

  .small-text {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  div:has(.small-text){
       margin-bottom: 0.75rem;
  }

  .xsmall-text {
    font-style: italic;
    font-size: .75rem;
    line-height: 1rem;
  }

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .links {
    flex-direction: column;
  }

  .footer-container {
    padding: 0rem 2.25rem 0 2.25rem;
    margin-top: 0;
  }

  .link-icons {
    width: 14rem;
  }
}
</style>
<footer class="main-footer"{% if user.is_authenticated %} data-track-login-method="{{ request.user.indicate_last_login_method }}" data-login-method="{{ request.session.boost_login_method }}"{% endif %}>
  <div class="footer-container">
    <div class="links">
      <a href="https://lists.boost.org/mailman3/lists/boost-users.lists.boost.org/">Contact</a>
      <a href="{% url 'privacy' %}">Privacy Policy</a>
      <a href="{% url 'terms-of-use' %}">Terms of Use</a>
      <a href="/doc/user-guide/reporting-issues.html">Report Bug</a>
      <div class="link-icons">
        {% include "includes/_social_icon_links.html" %}
      </div>
    </div>
    <div><span class="small-text">Website supported by grants from <a href="https://cppalliance.org/" target="_blank" class="text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange">The C++ Alliance</a>.</span></div>
    <div><span class="xsmall-text">Distributed under the <a href="/LICENSE_1_0.txt" class="text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange">Boost Software License, Version 1.0</a>.</span></div>
    {# <div><span class="text-sm"><i>Slack is a registered trademark and service mark of Slack Technologies, Inc.</i></span></div> #}
  </div>
</footer>
