{% extends "base.html" %}

{% load static %}

{% block subnav %}
  <div class="space-y-4 border-b border-slate py-8 md:py-2 px-4 md:px-0 md:space-x-10 text-sm uppercase">
    <a href="{% url 'review-process' %}" class="block md:inline">Review Process</a>
    <a href="{% url 'review-request' %}" class="block md:inline">Submit Review</a>
    <a href="{% url 'review-upcoming' %}" class="block md:inline">Upcoming Reviews</a>
    <a href="{% url 'review-past' %}" class="block md:inline md:py-1 md:border-b md:border-orange text-orange">Past Reviews</a>
  </div>
{% endblock %}

{% block content %}
  <div class="py-0 md:py-6 mb-3 px-3 md:px-0">
    <div class="md:w-full py-16">
      <h1 class="text-4xl text-center">Upcoming Reviews</h1>
      <p class="text-center mt-0">
        We are proud of the past reviews and community members who worked on them.
      </p>
      <div class="w-full rounded bg-charcoal p-6 mt-11">

        <div class="md:flex w-full hidden">
          <div class="p-3 w-1/5">Submnission</div>
          <div class="p-3 w-1/5">Submitter</div>
          <div class="p-3 w-1/5">Review Manager</div>
          <div class="p-3 w-1/5">Review Dates</div>
          <div class="p-3 w-1/5">Result</div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

        <div class="md:flex border-b border-slate md:border-b-0 py-6 md:py-0">
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submission:</span> Lambda 2</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Submitter:</span> Peter Dimov</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Manager:</span> Joel de Guzman</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
          <div class="p-3 text-left md:border md:border-slate md:w-1/5"><span class="font-bold md:hidden">Result:</span> <a href="#" class="text-orange">Pending</a></div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
