{% extends "base.html" %}

{% load static %}

{% block subnav %}
  <div class="space-y-4 border-b border-slate py-8 md:py-2 px-4 md:px-0 md:space-x-10 text-sm uppercase">
    <a href="{% url 'review-process' %}" class="block md:inline">Review Process</a>
    <a href="{% url 'review-request' %}" class="block md:inline md:py-1 md:border-b md:border-orange text-orange">Submit Review</a>
    <a href="{% url 'review-upcoming' %}" class="block md:inline">Upcoming Reviews</a>
    <a href="{% url 'review-past' %}" class="block md:inline">Past Reviews</a>
  </div>
{% endblock %}

{% block content %}
  <div class="py-0 md:py-6 mb-3 px-3 md:px-0">
    <div class="md:w-full space-y-11 py-16">
      <h1 class="text-4xl text-center">Submit a Review</h1>
      <p>
        What does this form look like?  I don't see mockups or a model definition.
      </p>
    </div>
  </div>
{% endblock %}
