{% extends "base.html" %}

{% load static %}

{% block subnav %}
  <div class="py-8 px-4 space-y-4 text-sm uppercase border-b md:py-2 md:px-0 md:space-x-10 border-slate">
    <a href="{% url 'review-process' %}" class="block md:inline">Review Process</a>
    <a href="{% url 'review-request' %}" class="block md:inline">Submit Review</a>
    <a href="{% url 'review-upcoming' %}" class="block md:inline md:py-1 md:border-b text-orange md:border-orange">Upcoming Reviews</a>
    <a href="{% url 'review-past' %}" class="block md:inline">Past Reviews</a>
  </div>
{% endblock %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">
    <div class="py-16 space-y-11 md:w-full">
      <h1 class="text-4xl text-center">Upcoming Reviews</h1>
      <div class="p-6 w-full rounded bg-charcoal">

        <div class="hidden w-full md:flex">
          <div class="p-3 w-1/5">Submnission</div>
          <div class="p-3 w-1/5">Submitter</div>
          <div class="p-3 w-1/5">Link</div>
          <div class="p-3 w-1/5">Review Manager</div>
          <div class="p-3 w-1/5">Review Dates</div>
        </div>

        <div class="py-6 border-b md:flex md:py-0 md:border-b-0 border-slate">
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submission:</span> Text (mini-review)</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submitter:</span> Zach Laine</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Link:</span> <a href="#" class="text-orange">Github Documentation</a></div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Manager:</span> Needed!</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
        </div>

        <div class="py-6 border-b md:flex md:py-0 md:border-b-0 border-slate">
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submission:</span> Text (mini-review)</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submitter:</span> Zach Laine</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Link:</span> <a href="#" class="text-orange">Github Documentation</a></div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Manager:</span> Needed!</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
        </div>

        <div class="py-6 border-b md:flex md:py-0 md:border-b-0 border-slate">
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submission:</span> Text (mini-review)</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submitter:</span> Zach Laine</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Link:</span> <a href="#" class="text-orange">Github Documentation</a></div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Manager:</span> Needed!</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
        </div>

        <div class="py-6 border-b md:flex md:py-0 md:border-b-0 border-slate">
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submission:</span> Text (mini-review)</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Submitter:</span> Zach Laine</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Link:</span> <a href="#" class="text-orange">Github Documentation</a></div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Manager:</span> Needed!</div>
          <div class="p-3 text-left md:w-1/5 md:border md:border-slate"><span class="font-bold md:hidden">Review Dates:</span> March 22, 2021 - March 31, 2021</div>
        </div>

      </div>
    </div>

    <div class="flex space-x-11">
      <div class="w-1/2">
        <h3>Overview</h3>
        <p>
          Reviews are scheduled when the review wizards approve a review manager and agree with the manager and
          author on dates. See <a href="#" class="text-orange">Review Process</a> for more information.
        </p>
        <p>
          In addition to upcoming reviews, the schedule includes recent reviews already completed; that helps track
          review manager assignments and libraries reviewed but not yet posted on the website. There is often a lag
          between acceptance and site posting as authors address issues raised in the formal review.
        </p>
      </div>
      <div class="w-1/2">
        <h3>Review Managers</h3>
        <p>
          In order for a review to proceed, a Boost member must volunteer to manage the review. This should be someone
          with experience with the review process and knowledge of the library's domain. Reviewers have been celebrated
          and recognized for contributing to some of the greatest revolutionary programs. Be a leader and make an impact
          within the Boost community! Contact Mateusz Loskot (<a href="#" class="text-orange">mateusz@loskot.net</a>) or
          John Phillips (<a href="#" class="text-orange">johnphillipsithaca@gmail.com</a>) to become a reviewer.
        </p>
      </div>

    </div>

  </div>
{% endblock %}
