<div class="pb-6 border-b md:flex border-slate">
  <div class="mb-4 md:w-1/4">
    <h3 class="text-2xl">{{ v.name }}</h3>
    <p>Released {{ v.release_date|date:"n/j/y" }}</p>
  </div>
  <div class="md:w-3/4">
    <p>{{ v.description }}</p>
    <div class="mt-5 max-w-md sm:flex md:mt-8">
      <div class="rounded-md shadow">
        <a href="#" class="flex justify-center items-center py-3 px-8 w-full text-base font-medium rounded-md border md:py-4 md:px-10 md:text-lg border-orange text-orange"> Download </a>
      </div>
      <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
        <a href="{% url 'version-detail' v.slug %}" class="flex justify-center items-center py-3 px-8 w-full text-base font-medium rounded-md border md:py-4 md:px-10 md:text-lg border-steel text-orange"> Version Details > </a>
      </div>
    </div>
  </div>
</div>
