{% load i18n %}

<form enctype="multipart/form-data" method="POST" action="{% if entry.pk %}{% url "news-update" entry.slug %}{% else %}{% url add_url_name %}{% endif %}">
  {% csrf_token %}

  <div class="space-y-3">
  {% for field in form.visible_fields %}
    {% include "includes/_form_input.html" with form=form field=field %}
  {% endfor %}
  </div>

  <div class="mt-4 text-right">
    <button class="py-2 px-3 text-sm text-white rounded bg-orange" type="submit" name="update">
      {% if entry.pk %}{% translate "Update" %}{% else %}{% translate "Submit" %}{% endif %}
    </button>
  </div>
</form>
