{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create News" %}{% endblock %}

{% block content %}

  <h1>{% translate "Create news" %}</h1>

  <div class="divide-y divide-gray-300">
    <div class="flex py-5">
      {% for item in items %}
        <div class="py-5 px-5">
          <a href="{% url item.add_url_name %}" class="rounded-md border md:py-1 md:px-3 border-orange bg-orange dark:bg-charcoal dark:text-orange">
            {{ item.model_name }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
