{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "News" %}{% endblock %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">
    <div class="md:w-full">
      <h1 class="text-4xl">Latest Stories</h1>
      <p class="mt-0">
        Keep up with current information from Boost and our community. (Under construction)
      </p>

      <!-- General filters, by news type -->
      <div>
        <div class="py-5 text-center w-[90%] mx-auto space-x-2">
          <div class="inline-block py-5">
            {% url 'news' as target_url %}
            <a href="{{ target_url }}" title="All News">
              <i class="py-1 px-2 bg-white rounded border border-gray-300 fas fa-rocket hover:bg-orange"></i>
            </a>
          </div>
          <div class="inline-block py-5">
            {% url 'news-news-list' as target_url %}
            <a href="{{ target_url }}" title="News">
              <i class="py-1 px-2 rounded border border-gray-300 fas fa-bullhorn hover:bg-orange {% if request.path == target_url %}bg-gray-600 text-white{% else %}bg-white{% endif %}"></i>
            </a>
          </div>
          <div class="inline-block py-5">
            {% url 'news-blogpost-list' as target_url %}
            <a href="{{ target_url }}" title="Blog Post">
              <i class="py-1 px-2 rounded border border-gray-300 fas fa-newspaper hover:bg-orange {% if request.path == target_url %}bg-gray-600 text-white{% else %}bg-white{% endif %}"></i>
            </a>
          </div>
          <div class="inline-block py-5">
            {% url 'news-link-list' as target_url %}
            <a href="{{ target_url }}" title="Link">
              <i class="py-1 px-2 rounded border border-gray-300 fas fa-link hover:bg-orange {% if request.path == target_url %}bg-gray-600 text-white{% else %}bg-white{% endif %}"></i>
            </a>
          </div>
          <div class="inline-block py-5">
            {% url 'news-poll-list' as target_url %}
            <a href="{{ target_url }}" title="Poll">
              <i class="py-1 px-2 rounded border border-gray-300 fas fa-poll hover:bg-orange {% if request.path == target_url %}bg-gray-600 text-white{% else %}bg-white{% endif %}"></i>
            </a>
          </div>
          <div class="inline-block py-5">
            {% url 'news-video-list' as target_url %}
            <a href="{{ target_url }}" title="Video">
              <i class="py-1 px-2 rounded border border-gray-300 fas fa-video hover:bg-orange {% if request.path == target_url %}bg-gray-600 text-white{% else %}bg-white{% endif %}"></i>
            </a>
          </div>
          <div class="inline-block py-5 text-sm">
            <button class="py-1 px-3 rounded border border-gray-300 hover:bg-orange">Submit News</button>
          </div>
        </div>
      </div>

{#      <div class="divide-y divide-gray-300">#}
{#        {% for entry in entry_list %}#}
{#        <div class="flex py-4">#}
{#          <div class="py-5 w-1/6">#}
{#            <h5>{{ entry.publish_at|date:"M jS, Y" }}</h5>#}
{#          </div>#}
{#          <div class="w-5/6 text-xl">#}
{#              <p><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></p>#}
{#              {% if entry.tag %}#}
{#              {% with url_name="news-"|add:entry.tag|add:"-list" %}#}
{#              <a data-test="news-tag" href="{% url url_name %}" class="px-3 text-sm rounded-md border-orange bg-orange">#}
{#              <strong>{{ entry.tag }}</strong>#}
{#              </a>#}
{#              {% endwith %}#}
{#              {% endif %}#}
{#            <div class="space-x-8 uppercase">#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% empty %}#}
{#        <div class="flex py-4">#}
{#          <div class="w-5/6 text-xl">#}
{#            <p>#}
{#              {% translate "No entries available." %}#}
{#            </p>#}
{#            <div class="space-x-8 uppercase">#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#      </div>#}

    </div>

    <div class="mt-5">
      <ol class="border-l-2 border-white space-y-3 w-[90%] mx-auto ml-[200px]">
        {% for entry in entry_list %}
        <li>
          <div class="md:flex flex-start">
            <div class="mt-6 text-xs text-center w-[200px] -ml-[213px]">
              <a href="{{ entry.get_absolute_url }}">{{ entry.publish_at|date:"M jS, Y" }}</a>
            </div>
            <div class="flex justify-center items-center p-2 mt-5 bg-white rounded-full h-[25px] w-[25px]">
              {% if entry.is_link == "link" %}
                <i class="text-gray-400 fas fa-poll"></i>
              {% elif entry.is_news == "news" %}
                <i class="text-gray-400 fas fa-bullhorn"></i>
              {% elif entry.is_blogpost == "blogpost" %}
                <i class="text-gray-400 fas fa-newspaper"></i>
              {% elif entry.is_poll == "poll" %}
                <i class="text-gray-400 fas fa-poll"></i>
              {% elif entry.is_video == "video" %}
                <i class="text-gray-400 fas fa-video"></i>
              {% else %}
                <i class="text-gray-400 fas fa-calendar-alt"></i>
              {% endif %}
            </div>
            <div class="mt-4 text-xs text-center w-[150px]">
              {% if entry.author.image.url %}
                <img src="{{ entry.author.image.url }}" alt="user" class="inline rounded-sm w-[30px]" />
              {% else %}
                <span class="inline px-2 pt-3 pb-1 bg-white rounded-sm">
                  <i class="text-2xl fas fa-user"></i>
                </span>
              {% endif %}
            </div>
            {% if user.image %}
            <div class="mt-4 text-xs text-center w-[150px]">
                <img src="{{ user.image.url }}" alt="user" class="inline rounded-sm cursor-pointer w-[30px]" />
            </div>
            {% endif %}
            <div class="block p-6 mb-10 ml-6 w-3/4 bg-white rounded-lg">
              <div class="flex justify-between">
                <a class="text-lg font-semibold transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
              {% if entry.tag %}
              {% with url_name="news-"|add:entry.tag|add:"-list" %}
              <a data-test="news-tag" href="{% url url_name %}" class="px-3 text-sm rounded-md border-orange bg-orange">
              <strong>{{ entry.tag }}</strong>
              </a>
              {% endwith %}
              {% endif %}
              </div>
              <p class="text-gray-500">{{ entry.content|truncatechars:300 }}</p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
