{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">
    <div class="py-16 md:w-full">
      <h1 class="text-4xl text-center">Boost News</h1>
      <p class="mt-0 text-center">
        Keep up with the latest exciting news from Boost and our community!
      </p>

      <div class="flex py-11 mt-11 w-full border-t border-slate">
        <div class="py-5 w-1/4">
          <h3>Version 1.78.0</h3>
          <p class="p-0">December 8th, 2021 03:45 GMT</p>
        </div>

        <div class="w-3/4">
          <p>
            Updated Libraries: Asio, Assert, Atomic, Beast, Core, Describe, DLL, Filesystem, Geometry, JSON, Lambda2,
            Log, Math, MultiIndex, Multiprecision, Nowide, PFR, Predef, Regex, System, Utility, Variant2.
          </p>
          <div class="space-x-8 uppercase">
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Release notes</a></span>
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Download</a></span>
            <span><a href="#" class="text-orange">Version Details</a></span>
          </div>
        </div>
      </div>

      <div class="flex py-11 mt-11 w-full border-t border-slate">
        <div class="py-5 w-1/4">
          <h3>Version 1.78.0</h3>
          <p class="p-0">December 8th, 2021 03:45 GMT</p>
        </div>

        <div class="w-3/4">
          <p>
            Updated Libraries: Asio, Assert, Atomic, Beast, Core, Describe, DLL, Filesystem, Geometry, JSON, Lambda2,
            Log, Math, MultiIndex, Multiprecision, Nowide, PFR, Predef, Regex, System, Utility, Variant2.
          </p>
          <div class="space-x-8 uppercase">
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Release notes</a></span>
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Download</a></span>
            <span><a href="#" class="text-orange">Version Details</a></span>
          </div>
        </div>
      </div>

      <div class="flex py-11 mt-11 w-full border-t border-slate">
        <div class="py-5 w-1/4">
          <h3>Version 1.78.0</h3>
          <p class="p-0">December 8th, 2021 03:45 GMT</p>
        </div>

        <div class="w-3/4">
          <p>
            Updated Libraries: Asio, Assert, Atomic, Beast, Core, Describe, DLL, Filesystem, Geometry, JSON, Lambda2,
            Log, Math, MultiIndex, Multiprecision, Nowide, PFR, Predef, Regex, System, Utility, Variant2.
          </p>
          <div class="space-x-8 uppercase">
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Release notes</a></span>
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Download</a></span>
            <span><a href="#" class="text-orange">Version Details</a></span>
          </div>
        </div>
      </div>

      <div class="flex py-11 mt-11 w-full border-t border-slate">
        <div class="py-5 w-1/4">
          <h3>Version 1.78.0</h3>
          <p class="p-0">December 8th, 2021 03:45 GMT</p>
        </div>

        <div class="w-3/4">
          <p>
            Updated Libraries: Asio, Assert, Atomic, Beast, Core, Describe, DLL, Filesystem, Geometry, JSON, Lambda2,
            Log, Math, MultiIndex, Multiprecision, Nowide, PFR, Predef, Regex, System, Utility, Variant2.
          </p>
          <div class="space-x-8 uppercase">
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Release notes</a></span>
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Download</a></span>
            <span><a href="#" class="text-orange">Version Details</a></span>
          </div>
        </div>
      </div>

      <div class="flex py-11 mt-11 w-full border-t border-slate">
        <div class="py-5 w-1/4">
          <h3>Version 1.78.0</h3>
          <p class="p-0">December 8th, 2021 03:45 GMT</p>
        </div>

        <div class="w-3/4">
          <p>
            Updated Libraries: Asio, Assert, Atomic, Beast, Core, Describe, DLL, Filesystem, Geometry, JSON, Lambda2,
            Log, Math, MultiIndex, Multiprecision, Nowide, PFR, Predef, Regex, System, Utility, Variant2.
          </p>
          <div class="space-x-8 uppercase">
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Release notes</a></span>
            <span><a href="#" class="pr-8 border-r text-orange border-slate">Download</a></span>
            <span><a href="#" class="text-orange">Version Details</a></span>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
