{% load static %}
<!DOCTYPE html>
<html lang="en" class="v3">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@62.5..100,100..900&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap" rel="stylesheet">
  <link href="{% static 'css/v3/components.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js" defer></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="{% static 'js/highlight.js' %}"></script>
  <script src="{% static 'js/highlight-block.js' %}"></script>
  <script src="{% static 'js/code-block.js' %}" defer></script>
  <script src="{% static 'js/carousel.js' %}" defer></script>
  <style>
    body {
      padding: var(--space-large, 24px);
      background: var(--color-background, #fff);
    }
  </style>
</head>
<body class="v3">
  {{ preview_html }}
</body>
</html>
