{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load forum_permission_tags %}

{% block title %}{{ MACHINA_FORUM_NAME|default:"Forum" }} &mdash; {% block sub_title %}{% endblock sub_title %}{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/machina.board_theme.min.css' %}" />
{% endblock css %}

{% block body %}
{% block header %}
<nav class="relative flex flex-wrap items-center content-between py-3 px-4  text-white bg-blue-600">
  <a class="inline-block pt-1 pb-1 mr-4 text-lg whitespace-no-wrap" href="{% url 'forum:index' %}">{% block brand %}{{ MACHINA_FORUM_NAME|default:"My forum" }}{% endblock %}</a>
  <button class="py-1 px-2 text-md leading-normal bg-transparent border border-transparent rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="px-5 py-1 border border-gray-600 rounded"></span>
  </button>
  <div class="hidden flex-grow items-center" id="navbarSupportedContent">
    {% block header_collapse %}
    <form class="flex items-center my-2 ml-3 lg:my-0" role="search" action="{% url 'forum_search:search' %}">
      <input class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded sm:mr-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline text-gray-100 border-gray-100 hover:bg-gray-100 hover:text-white bg-white hover:bg-gray-200 my-2 sm:my-0" type="submit">{% trans "Search" %}</button>
    </form>
    <div class="flex flex-wrap list-reset pl-0 mb-0 mr-auto">
      <a class=" inline-block py-2 px-4 no-underline" href="{% url 'forum_search:search' %}">{% trans "Advanced search" %}</a>
    </div>
    {% endblock header_collapse %}
  </div>
</nav>
{% endblock header %}
<div class="my-5 container mx-auto sm:px-4" id="main_container">
  <div class="flex flex-wrap ">
    <div class="w-full">
      {% block breadcrumb %}{% include "partials/breadcrumb.html" %}{% endblock breadcrumb %}
      <div class="float-right controls-link-wrapper">
      {% spaceless %}
      {% if not request.user.is_anonymous %}
        <a href="{% url 'forum_member:user_subscriptions' %}" class="inline-block ml-3"><i class="fas fa-bookmark">&nbsp;</i>{% trans "Subscriptions" %}</a>
        <a href="{% url 'forum_member:user_posts' request.user.id %}" class="inline-block ml-3"><i class="fas fa-comments">&nbsp;</i>{% trans "View my posts" %}</a>
      {% endif %}
      {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
      {% if can_access_moderation_queue %}
        <a href="{% url 'forum_moderation:queue' %}" class="inline-block ml-3"><i class="fas fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
      {% endif %}
      {% endspaceless %}
      </div>
    </div>
  </div>
  <div class="flex flex-wrap ">
    <div class="w-full">
      <br />
      {% block messages %}{% include "partials/messages.html" %}{% endblock messages %}
    </div>
  </div>
  {% block content %}
  {% endblock content %}
</div>
{% endblock body %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/machina.packages.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/machina.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    machina.init();
    {% block onbodyload %}{% endblock onbodyload %}
  });
</script>
{% endblock js %}
