{% extends "base.html" %}

{% block title %}Boost Calendar{% endblock %}

{% block content_wrapper %}
<div class="flex justify-center items-center mb-4">
    <h1 class="text-4xl">Boost Calendar</h1>
</div>
<div class="container px-4 my-8 mx-auto">
    <div class="section-body">
        <p>Below is a community maintained calendar of Boost related events. The release managers try to keep the release related portion of the calendar up to date.</p>
        <iframe src="https://www.google.com/calendar/embed?src={{ boost_calendar }}&amp;ctz=America/Chicago" class="c1" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
{% endblock %}
