{% extends "base.html" %}

{% load static %}

{% block title %}Boost - Community{% endblock %}

{% block content %}
  <div class="py-0 px-3 mb-3 md:py-6 md:px-0">
    <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
      <div class="text-white bg-white rounded-lg shadow-lg dark:bg-charcoal dark:bg-neutral-700 p-6 dark:text-white text-slate">
        <h5 class="text-2xl font-bold leading-tight text-orange"><a href="https://lists.boost.org/mailman/listinfo.cgi/boost">Mailing List</a></h5>
        <ul class="pt-4">
          <li>Users</li>
          <li>Developers</li>
          <li>Announcements</li>
        </ul>
      </div>

      <div class="text-white bg-white rounded-lg shadow-lg dark:bg-charcoal dark:bg-neutral-700 p-6 dark:text-white text-slate">
        <h5 class="text-2xl font-bold leading-tight text-orange"><a href="https://lists.boost.org/Archives/boost/">Discussion Forums</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>

      <div class="text-white bg-white rounded-lg shadow-lg dark:bg-charcoal dark:bg-neutral-700 p-6 dark:text-white text-slate">
        <h5 class="text-2xl font-bold leading-tight text-orange"><a href="https://cppalliance.org/slack/">C++ Slack Workspace</a></h5>
        <p>This is a multi-channel Slack workspace environment which gathers users of C++ from around the world into the same place so we can all learn from each other. It is like IRC but with modern clients that support multimedia, notifications, and smart devices.</p>
      </div>

      <div class="text-white bg-white rounded-lg shadow-lg dark:bg-charcoal dark:bg-neutral-700 p-6 dark:text-white text-slate">
        <h5 class="text-2xl font-bold leading-tight text-orange">Users</h5>
        <p>See everyone involved with Boost. (Under construction)</p>
      </div>

      <div class="text-white bg-white rounded-lg shadow-lg dark:bg-charcoal dark:bg-neutral-700 p-6 dark:text-white text-slate">
        <h5 class="text-2xl font-bold leading-tight text-orange"><a href="https://twitter.com/boost_libraries">Twitter</a></h5>
        <p>Follow us, like, and retweet announcements and informative updates about Boost and C++.</p>
      </div>

      <div class="text-white bg-white rounded-lg shadow-lg dark:bg-charcoal dark:bg-neutral-700 p-6 dark:text-white text-slate">
        <h5 class="text-2xl font-bold leading-tight text-orange"><a href="https://isocpp.org/">ISO C++</a></h5>
        <p>News, Status & Discussion about Standard C++</p>
      </div>
    </div>
  </div>
{% endblock %}
