{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link data-modernizer="boost-legacy-docs-extra-head" href="{% static 'css/docsstyles.css' %}" rel="stylesheet" />
  {% comment %}
   These style tweaks ensure that legacy doc pages are rendered decently.
   Specifically, the <img> tag is heavily used in nav bar for tutorial navigation.
  <style data-modernizer="boost-legacy-docs-extra-head">
    img {
      display: inline-block;
    }
  </style>
  {% endcomment %}
{% endblock %}

{% block content_header %}
  <div id="boost-legacy-docs-header">
    {{ block.super }}
  </div>
{% endblock %}

{% block content %}
  <div id="boost-legacy-docs-body">
  </div>
{% endblock %}
