{% extends "base.html" %}

{% load static %}

{% comment %}
This is a temporary landing page for docs
{% endcomment %}

{% block content %}
  <!-- Homepage Hero Section -->
  <main class="px-4 my-4 mx-auto md:max-w-7xl">
    <div class="mb-4 space-y-4 md:flex md:space-y-0 md:space-x-4">
      <div
        class="block relative w-full text-white bg-white rounded-lg shadow-lg md:w-1/2 dark:bg-charcoal dark:bg-neutral-700">
        <a href="#" class="absolute top-5 right-10 py-3 px-4 text-white rounded shadow-md bg-orange">New Here?</a>
        {# FIXME #}
        <a href="/doc/user-guide/">
          <img
            class="overflow-y-hidden w-full rounded-t-lg max-h-[470px]"
            src="{% static 'img/fpo/guide.jpg' %}"
            alt="" />
        </a>
        <div class="py-3 px-6 dark:text-white text-slate">
          <h5
            class="text-xl font-bold leading-tight text-orange">
            User Guide
          </h5>
          <p class="py-1 border-b border-gray-700 text-green">How to use Boost in your programs</p>
          <ul class="flex flex-wrap mt-2 text-sm">
            <li class="w-1/2"><a href="#">Get the Release</a></li>
            <li class="w-1/2"><a href="#">Including Headers</a></li>
            <li class="w-1/2"><a href="#">Using Bjam</a></li>
            <li class="w-1/2"><a href="#">Running Tests</a></li>
            <li class="w-1/2"><a href="#">Reporting Issues</a></li>
            <li class="w-1/2"><a href="#">Library Documentation</a></li>
            <li class="w-1/2"><a href="#">Build the Libraries</a></li>
            <li class="w-1/2"><a href="#">Linking Your Program</a></li>
            <li class="w-1/2"><a href="#">Using CMake</a></li>
            <li class="w-1/2"><a href="#">Using Bjam</a></li>
            <li class="w-1/2"><a href="#">Requesting Features</a></li>
            <li class="w-1/2"><a href="#">Toolsets</a></li>
          </ul>
        </div>
      </div>

      <div
        class="block relative w-full bg-white rounded-lg shadow-lg md:w-1/2 dark:bg-charcoal dark:bg-neutral-700">
        {# FIXME #}
        <a href="/doc/contributor-guide/">
          <img
            class="overflow-y-hidden w-full rounded-t-lg max-h-[470px]"
            src="{% static 'img/fpo/man-tree.jpeg' %}"
            alt="" />
        </a>
        <div class="py-3 px-6 dark:text-white text-slate">
          <h5
            class="text-xl font-bold leading-tight text-orange">
            Contributor Guide
          </h5>
          <p class="py-1 border-b border-gray-700 text-green">This is how you can help</p>
          <ul class="flex flex-wrap mt-2 text-sm">
            <li class="w-1/2"><a href="#">Get the Release</a></li>
            <li class="w-1/2"><a href="#">Including Headers</a></li>
            <li class="w-1/2"><a href="#">Using Bjam</a></li>
            <li class="w-1/2"><a href="#">Running Tests</a></li>
            <li class="w-1/2"><a href="#">Reporting Issues</a></li>
            <li class="w-1/2"><a href="#">Library Documentation</a></li>
            <li class="w-1/2"><a href="#">Build the Libraries</a></li>
            <li class="w-1/2"><a href="#">Linking Your Program</a></li>
            <li class="w-1/2"><a href="#">Using CMake</a></li>
            <li class="w-1/2"><a href="#">Using Bjam</a></li>
            <li class="w-1/2"><a href="#">Requesting Features</a></li>
            <li class="w-1/2"><a href="#">Toolsets</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mb-16 space-y-4">
      <div
        class="flex flex-col text-white bg-white rounded-lg shadow-lg md:flex-row dark:bg-charcoal dark:bg-neutral-700">
        {# FIXME #}
        <a href="/doc/formal-reviews/">
          <img
            class="object-cover w-full h-96 rounded-t-lg md:w-48 md:h-auto md:rounded-none md:rounded-l-lg"
            src="{% static 'img/fpo/clipboardman.jpeg' %}"
            alt="" />
        </a>
        <div class="flex flex-col justify-start p-6 dark:text-white text-slate">
          <h5
            class="text-xl font-bold leading-tight">
            Boost Formal Reviews
          </h5>
          <p class="py-1 mb-4 text-base">
            How libraries become part of the collection.
          </p>
          <ul class="flex flex-wrap">
            <li class="w-1/2"><a href="#">Proposing</a></li>
            <li class="w-1/2"><a href="#">Scheduling</a></li>
            <li class="w-1/2"><a href="#">The Manager</a></li>
            <li class="w-1/2"><a href="#">The Review Process</a></li>
            <li class="w-1/2"><a href="#">Submitting a Review</a></li>
          </ul>
        </div>
      </div>

      <div
        class="flex flex-col bg-white rounded-lg shadow-lg md:flex-row dark:bg-charcoal dark:bg-neutral-700">
        <div class="flex flex-col justify-start p-6 w-full dark:text-white text-slate">
          <h5
            class="text-xl font-bold leading-tight">
            Release Process
          </h5>
          <p class="py-1 mb-4 text-base text-neutral-600 dark:text-neutral-200">
            "The trains always run on time"
          </p>
          <ul class="flex flex-wrap">
            <li class="w-1/2"><a href="#">Release Calendar</a></li>
            <li class="w-1/2"><a href="#">Process Steps</a></li>
            <li class="w-1/2"><a href="#">Betas and RCs</a></li>
            <li class="w-1/2"><a href="#">Testing the release</a></li>
            <li class="w-1/2"><a href="#">What's in the Archive</a></li>
            <li class="w-1/2"><a href="#">Library Debuts</a></li>
          </ul>
        </div>
        {# FIXME #}
        <a href="/doc/release-process/">
        <img
          class="object-cover w-full h-96 rounded-t-lg md:w-48 md:h-auto md:rounded-none md:rounded-r-lg"
          src="{% static 'img/fpo/construction.png' %}"
          alt="" />
        </a>
      </div>
    </div>
  </main>
  <!-- End Homepage Hero Section -->

{% endblock %}
