{% extends "base.html" %}

{% block content_wrapper %}
<div class="flex mb-4 bg-blue-600 justify-center items-center">
    <h1 class="text-white text-5xl m-10">AlphaKit</h1>
</div>

<div class="container mx-auto px-4 my-8">
    <h2 class="text-4xl">Welcome to AlphaKit</h2>
    <p class="my-2">
        This is the default homepage you get with AlphaKit. You should obviously
        replace this with a homepage that is appropriate for your application.
        But, since you're here anyway here are some useful links
    </p>
</div>

<div class="container mx-auto">
    <div class="flex items-stretch align-center justify-center">
        <a href="/admin/"
            class="flex-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded text-center mx-4">Django
            Admin</a>
        <a href="/health/"
            class="flex-1 bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-4 rounded text-center mx-4">System
            Status</a>
        <a href="https://github.com/revsys/alphakit"
            class="flex-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded text-center mx-4">AlphaKit
            Github
        </a>
    </div>
</div>
{% endblock %}