{% extends "base.html" %}

{% load static %}
{% load text_helpers %}

{% block content %}
  {# homepage hero #}
  <main class="px-4 my-16 mx-auto sm:mt-24">
    <div class="md:flex mb-16">

      <div class="text-center md:text-left md:w-1/2">
        <h1 class="text-4xl font-extrabold md:text-6xl">
          <span class="block xl:inline">Boost provides free peer-reviewed portable C++ source libraries.</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-base text-lg md:mt-5 md:mb-11 md:max-w-3xl md:text-xl">Experience C++ libraries created by experts to be reliable, skillfully designed, and well-tested.</p>

      </div>
      <div class="mt-6 w-full text-center md:mt-3 md:w-1/2">
        <div class="mx-auto group flex justify-center items-center mt-5 space-y-3 max-w-md md:mt-8 md:space-y-0">
          <a href="{% url 'releases-most-recent' %}" class="w-80 flex justify-left items-center py-4 pl-6 md:pl-3 text-base font-medium link-header text-white rounded-md border md:text-lg border-orange bg-orange dark:bg-charcoal dark:hover:bg-charcoal/75">
            <i class="pl-2 pr-7 md:pr-6 text-white group-hover:text-sky-600 fas fa-arrow-circle-down dark:text-orange"></i> Download the Latest Release
          </a>
        </div>

      </div>
    </div>

    <div class="p-6 dark:text-white text-slate bg-white rounded-lg dark:bg-charcoal dark:bg-neutral-700">
      <div class="lg:flex">
        <div class="lg:order-last lg:w-1/2 px-4 pt-2">
          <h5
          class="text-3xl leading-tight text-orange mb-2">Boost Mission</h5>
          <ul class="mb-0 pl-2 ml-6 space-y-2 list-disc">
          <li>development of high quality, expert reviewed, legally unencumbered, open-source libraries,</li>
          <li>inspiring standard enhancements, and</li>
          <li>advancing and disseminating software development best practices.</li>
          </ul>
          <p class="pb-0">It does this by fostering community engagement, nurturing leaders, providing necessary financial/legal support, and making directional decisions in the event of Boost community deadlock.</p>
          <p class="pb-0">Equally important to our mission is the guidance provided by our shared values. These are transparency, inclusivity, consensus-building, federated authorship, and community-driven leadership.</p>
          <div>
          </div>
        </div>
        <div class="flex lg:mr-4 my-auto pt-8 lg:w-1/2 justify-center">
          <div class="grid grid-cols-2 w-full justify-items-center">
            <div class="items-center text-center px-4">
              <img class="mx-auto mb-2" src="{% static 'img/icons/icon-download-grn.svg' %}" alt="Downloads" />
              <h4 class="mb-3 text-5xl">10M+</h4>
              Total Downloads
            </div>
            <div class="items-center text-center px-4">
              <img class="mx-auto mb-2" src="{% static 'img/icons/icon-library-grn.svg' %}" alt="Libraries" />
              <h4 class="mb-3 text-5xl">165+</h4>
              Individual Libraries
            </div>
            <div class="col-span-2 items-center w-full text-left pl-4 pr-2">
              <p><span class="text-xl font-bold">Why Use Boost?</span>&nbsp;&nbsp; In a word, <i>Productivity</i>. Use of high-quality libraries like Boost speeds initial development, results in fewer bugs, reduces reinvention-of-the-wheel, and cuts long-term maintenance costs. And since Boost libraries tend to become de facto or de jure standards, many programmers are already familiar with them.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if events %}
        <div class="px-4 mt-4 pt-8 my-12 lg:mb-4 mx-auto">
          <div class="pb-10 bg-gray-400 dark:bg-gray-900 bg-opacity-10 rounded-md">
            <div class="p-5 w-full">
              <div class="my-6 ml-6">
                <span class="inline py-1 px-3 w-auto text-sm uppercase rounded-lg md:text-base text-emerald-700 bg-emerald-200 dark:bg-opacity-10">schedule of events</span>
              </div>
            </div>
            <div class="flex flex-col justify-center items-center pb-4 h-full">
              <div class="relative mx-auto w-4/5"
              x-data="{ activeSlide: 1, slides: Array.from({ length: {{ num_months }} }, (_, i) => i + 1) }">
                <!-- Slides -->
                {% for month_year, month_events in events.items %}
                <div x-show="activeSlide === {{ forloop.counter }}" x-cloak
                    class="flex items-center py-0 px-12 h-full rounded-lg">
                  <div class="w-full">
                    <h3 class="pb-2 mb-2 text-2xl capitalize border-b border-gray-400 text-orange dark:border-slate">{{ month_year }}</h3>
                    {% for event in month_events %}
                    <span class="pb-1 mx-auto w-full text-sm align-left">
                      <strong>{{ event.start.date }}:</strong> {{ event.name }}
                      <br />
                      <div class="pt-1 pl-4 font-light">{{ event.description }}</div>
                      <br />
                    </span>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
                <!-- Prev/Next Arrows -->
                <div class="flex absolute inset-0">
                  <div class="flex justify-start items-center w-1/2">
                    <button
                      x-show="activeSlide !== 1"
                      class="-ml-6 w-12 h-12 font-bold text-white bg-gray-400 rounded-full"
                      x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1">
                      &#8592;
                    </button>
                  </div>
                  <div class="flex justify-end items-center w-1/2">
                    <button
                      x-show="activeSlide !== slides.length"
                      class="-mr-6 w-12 h-12 font-bold text-white bg-gray-400 rounded-full"
                      x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1">
                      &#8594;
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endif %}


    {% if featured_library %}
    <div class="my-12 space-y-4 lg:flex lg:my-16 lg:space-y-0 lg:space-x-4">
      <div class="p-6 relative bg-white rounded-lg md:p-11 w-full dark:bg-charcoal">
          <div class="mb-6">
            <span class="inline py-1 px-3 w-auto text-sm uppercase rounded md:text-base text-[rgb(14,174,96)] dark:text-green font-semibold bg-gray-300/50 dark:bg-green/10 border border-orange/30">library spotlight</span>
          </div>
          <div class="absolute top-6 right-8 p-2 group">
            <a href="{% url 'libraries' %}"
               class="text-sm font-medium md:text-base lg:text-base  text-sky-600 dark:text-sky-300 group-hover:text-orange dark:group-hover:text-orange">
              All Libraries&nbsp;<i class="fas fa-chevron-right  text-sky-600 dark:text-sky-300 group-hover:text-orange dark:group-hover:text-orange"></i>
            </a>
          </div>
          <h3 class="pb-2 mb-4 text-3xl capitalize border-b border-gray-400 text-orange dark:border-slate"><a href="{% url 'library-detail' slug=featured_library.slug %}" class="link-header">{{ featured_library.name }}</a></h3>
          <span class="pb-1 mx-auto w-full text-lg align-left">
            {{ featured_library.description }}
          </span>
          <p class="pb-1 mx-auto w-full text-sm align-left">{% if featured_library.first_boost_version %}Added in {{ featured_library.first_boost_version.display_name }}{% endif %}</p>
          <div class="py-4">
            {% if featured_library.authors %}
              <div class="flex flex-wrap justify-start">
              {% for author in featured_library.authors.all %}
                <div class="p-1 md:p-2 w-min text-center">
                  <div class="bg-gray-300 dark:bg-slate rounded w-[80px]">
                  {% if author.image %}
                    <img src="{{ author.image.url }}"
                      title="{{ author.get_full_name }}"
                      alt="{{ author.get_full_name }}"
                      class="rounded w-[80px]" />
                  {% else %}
                    <i class="py-4 px-5 text-5xl fas fa-user text-white dark:text-white/60" title="{{ author.get_full_name }}"></i>
                  {% endif %}
                  </div>
                  <span class="text-xs">{{ author.get_full_name }}</span>
                </div>
              {% endfor %}
              </div>
            {% endif %}

          </div>
          {% comment %}
            <div class="mt-5 max-w-md sm:flex md:mt-8">
            <div class="rounded-md shadow">
              <a href="{% url 'releases-most-recent' %}" class="flex justify-center items-center py-3 px-8 w-full text-base font-medium text-white rounded-md border md:py-4 md:px-10 md:text-base border-orange bg-orange">
                <i class="pr-2 fas fa-arrow-circle-down"></i> Download
              </a>
            </div>
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
              <a href="{% url 'library-detail' slug=featured_library.slug %}" class="flex justify-center items-center py-3 px-8 w-full text-base font-medium bg-gray-300 rounded-md border md:py-4 md:px-10 md:text-base border-steel text-slate dark:bg-charcoal dark:text-orange">
                Library Details <i class="pl-2 fas fa-chevron-right text-slate dark:text-orange"></i>
              </a>
            </div>
          </div>
          {% endcomment %}

      </div>
    </div>
    {% endif %}

    <div class="my-12 space-y-4 lg:flex lg:my-16 lg:space-y-0 lg:space-x-4">
      <div class="p-6 relative bg-white rounded-lg md:p-11 w-full dark:bg-charcoal">
        <div class="mb-6">
          <span class="inline py-1 px-3 w-auto text-sm uppercase rounded md:text-base text-[rgb(14,174,96)] dark:text-green font-semibold bg-gray-300/50 dark:bg-green/10 border border-orange/30">recent news</span>
        </div>
        <div class="absolute top-6 right-8 p-2 group">
          <a href="{% url 'news' %}"
            class="text-sm font-medium md:text-base lg:text-base text-sky-600 dark:text-sky-300 group-hover:text-orange dark:group-hover:text-orange">
            All News&nbsp;<i class="fas fa-chevron-right text-sky-600 dark:text-sky-300 group-hover:text-orange dark:group-hover:text-orange"></i>
          </a>
        </div>
        <div class="space-y-4">
          {% for entry in entries %}
            <div class="pt-0">
              <h3 class="pb-2 mb-4 text-3xl capitalize border-b border-gray-400 text-orange dark:border-slate"><a href="{% url 'news-detail' slug=entry.slug %}" class="link-header">{{ entry.title }}</a></h3>
              {% if entry.content %}
              <div class="truncate">
              <span class="pb-1 mx-auto w-full text-lg align-left">{{ entry.content|urlize|url_target_blank:'text-sky-600 dark:text-sky-300 hover:text-orange dark:hover:text-orange'|linebreaksbr|truncatechars:500 }}...</span>
              </div>
              {% endif %}
              <p class="pb-1 mx-auto w-full text-xs align-left"><i>Published on {{ entry.publish_at|date:"m/d/Y" }} by {{ entry.author.get_full_name }}</i></p>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

    <div class="my-12 space-y-4 lg:flex lg:my-16 lg:space-y-0 lg:space-x-4">
      <div class="p-6 bg-white rounded-lg md:p-11 w-full dark:bg-charcoal">
        <div class="mb-6">
          <span class="inline py-1 px-3 w-auto text-sm uppercase rounded md:text-base text-[rgb(14,174,96)] dark:text-green font-semibold bg-gray-300/50 dark:bg-green/10 border border-orange/30">featured video</span>
        </div>
        <div class="relative h-0 overflow-hidden max-w-full w-full" style="padding-bottom: 56.25%">
          <iframe
            src="https://www.youtube.com/embed/7xwjjolDnwg"
            frameborder="0"
            allowfullscreen
            class="absolute top-0 left-0 w-full h-full"></iframe>
        </div>
      </div>
    </div>

    <!-- END RECENT NEWS & JOIN CONVERSATION -->

    <!-- BOOST LIBRARIES LOGOS AND TESTIMONIALS -->
{#    <div>#}
{#      <h2 class="text-4xl text-center">Boost Libraries Headline</h2>#}
{#      <div class="grid grid-cols-2 gap-4 justify-between justify-items-center items-center my-16 md:grid-cols-6">#}
{#        <img src="{% static 'img/fpo/airbus.svg' %}" alt="airbus" />#}
{#        <img src="{% static 'img/fpo/usairforce.svg' %}" alt="air force" />#}
{#        <img src="{% static 'img/fpo/airbus.svg' %}" alt="airbus" />#}
{#        <img src="{% static 'img/fpo/usairforce.svg' %}" alt="air force" />#}
{#        <img src="{% static 'img/fpo/airbus.svg' %}" alt="airbus" />#}
{#        <img src="{% static 'img/fpo/usairforce.svg' %}" alt="air force" />#}
{#      </div>#}
{#    </div>#}
    <!-- END BOOST LIBRARIES LOGOS AND TESTIMONIALS -->
  </main>
  <!-- End Homepage Hero Section -->

{% endblock %}

{% block footer_js %}

{% endblock %}
