{% extends "base.html" %}
{% load static %}
{% load waffle_tags %}

{% block title %}Boost C++ Homepage{% endblock %}
{% block extra_head %}
  {{ block.super }}
  <link href="{% static 'css/v3/v3-homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <div class="px-large">
  {% include "v3/includes/_hero_home.html" with install_card_id="hero-home-3" hero_image_url="" hero_image_url_light="" hero_image_url_dark="" %}
  <div class="card-masonry-top py-large">
    <div class="item-a">
      {% include "v3/includes/_search_card.html" with heading="What are you trying to find?" action_url="#" popular_terms=popular_terms %}
    </div>
    <div class="item-b">
      {% include "v3/includes/_event_card.html" with heading="Upcoming Events" items=demo_events_with_links variant="list" primary_cta_label="Download latest release" primary_cta_url="#" secondary_cta_label="View events calendar" secondary_cta_url="#" %}
    </div>
    <div class="item-c">
      {% with data=posts_from_the_boost_community %}
        {% include "v3/includes/_post_card.html" with heading=data.heading items=data.items variant=data.variant theme=data.theme primary_cta_label=data.primary_cta_label primary_cta_url=data.primary_cta_url %}
      {% endwith %}
    </div>
    <div class="item-d">
      {% include "v3/includes/_code_block_card.html" with heading="Get started with our libraries" code=code_demo_hello block_variant="grey-bg" button_text="Explore examples" language="cpp" button_aria_label="Explore examples" %}
    </div>
    <div class="item-e">
      {% with data=join_developers_building_the_future_of_cpp %}
        {% include "v3/includes/_join_card.html" with heading="Join developers building the future of C++" items=data.items variant="card" theme="yellow" primary_cta_label="Explore the community" primary_cta_url="#" %}
      {% endwith %}
    </div>
  </div>
    <div class="py-large four-column">
      {% include 'v3/includes/_why_boost_cards.html' with why_boost_cards=why_boost_cards %}
    </div>
    <div class="card-masonry-bottom py-large">
      <div class="item-a">
        {% with data=stats_in_numbers %}
          {% include "v3/includes/_stats_in_numbers.html" with heading="Commits per release" description="Commit count by Boost release for this library." bars=data.example_library_commits_bars theme="default" primary_cta_label="View library" primary_cta_url="#" %}
        {% endwith %}
      </div>
      <div class="item-b">
        {% with card=calendar_card %}
          {% include 'v3/includes/_vertical_card.html' with title=card.title text=card.text primary_button_url=card.primary_button_url primary_button_label=card.primary_button_label primary_style='secondary-grey' image_url=card.image %}
        {% endwith %}
      </div>
      <div class="item-c">
        {% with data=testimonial_data %}
          {% include "v3/includes/_testimonial_card.html" with heading="What engineers" testimonials=data.testimonials %}
        {% endwith %}
      </div>
      <div class="item-d">
        {% include 'v3/includes/_mailing_list_card.html' %}
      </div>
    </div>
  </div>
{% endblock %}
