{% extends "base.html" %}
{% load static %}
{% load custom_static %}
{% load waffle_tags %}

{% block main_content_wrapper %}<div class="homepage-v3">{% endblock %}
{% block title %}Boost C++ Homepage{% endblock %}
{% block extra_head %}
  {{ block.super }}
  <link href="{% static 'css/v3/v3-homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {% url 'docs-user-guide' content_path='user-guide/getting-started.html' as hero_primary_url %}
  {% url 'libraries-list' version_slug='latest' library_view_str='list' as hero_secondary_url %}
  {% url 'news' as posts_url %}
  {% url 'release-detail' version_slug='latest' as release_url %}
  {% url 'calendar' as calendar_url %}
  {% url 'community' as community_url %}
  {% url 'license' as license_url %}
  {% include "v3/includes/_hero_home.html" with hero_background_image_url=hero_background_image_url install_card_id="hero-home-1" hero_image_url_light=hero_image_url_light hero_image_url_dark=hero_image_url_dark hero_image_url_mobile=hero_image_url_mobile primary_url=hero_primary_url secondary_url=hero_secondary_url %}
  <div class="homepage-container">

    <div class="card-masonry-top">
      <div class="item-a">
        {% include "v3/includes/_search_card.html" with heading="What are you trying to find?" action_url="#" popular_terms=popular_terms %}
      </div>
      <div class="item-b responsive-limit-3-items">
        {% include "v3/includes/_event_card.html" with heading="Upcoming Events" items=upcoming_events variant="list" primary_cta_label="Download latest release" primary_cta_url=release_url secondary_cta_label="View events calendar" secondary_cta_url=calendar_url %}
      </div>
      <div class="item-c responsive-limit-2-items">
        {% include "v3/includes/_post_card.html" with heading="Posts from the Boost Community" items=community_posts variant="card" theme="teal" primary_cta_label="View all posts" primary_cta_url=posts_url %}
      </div>
        <div class="item-d">
          {% url 'library-detail' version_slug='latest' library_slug=get_started_code.library_slug as get_started_url %}
          {% include "v3/includes/_code_block_card.html" with heading=get_started_code.heading code=get_started_code.code language=get_started_code.language block_variant="grey-bg" button_text="View library" button_url=get_started_url button_aria_label="Explore examples" %}
        </div>
      <div class="item-e homepage-join-card">
        {% include "v3/includes/_join_card.html" with heading="Join developers building the future of C++" items=join_developers_links variant="card" theme="yellow" primary_cta_label="Explore the community" primary_cta_url=community_url %}
      </div>
      <div class="item-f">
        {% include "v3/includes/_install_card.html" with title=install_card_title|default:"Install Boost and get started in your terminal." card_id=install_card_id|default:"hero-home-install" %}
      </div>
    </div>
    <div class="four-column">
      {% include 'v3/includes/_why_boost_cards.html' with why_boost_cards=why_boost_cards %}
    </div>
    <div class="card-masonry-bottom py-large">
      <div class="item-a responsive-limit-5-items">
        {% include "v3/includes/_stats_in_numbers.html" with heading="Boost in numbers" description="Every bar tells a story; the collective effort of a community building Boost" bars=commits_data theme="default" primary_cta_label="Boost Org on GitHub" primary_cta_url="https://github.com/boostorg/boost" %}
      </div>
      <div class="item-b">
        {% with data=library_intro %}
          {% include "v3/includes/_library_intro_card.html" with library_name=data.library_name description=data.description authors=data.authors cta_url=data.cta_url cta_label="View Library" %}
        {% endwith %}
      </div>
      <div class="item-c">
        {% include "v3/includes/_testimonial_card.html" with heading="What engineers are saying" testimonials=testimonial_cards %}
      </div>
      <div class="item-d license-card">
        {% large_static 'img/v3/solo-images/capy-hot-tub.png' as license_card_image %}
        {% include "v3/includes/_horizontal_card.html" with title="Build anything with the Boost Software License" text="<p>A simple, one-paragraph license created specifically for C++. It gives permission to use, modify, and distribute for any purpose.</p><p>No license file is required in binaries, just attribution in the source code. And it's compatible with virtually all other licenses.</p><p>Companies like Microsoft, Adobe and Citigroup have used it for the past 20 years.</p>" image_url=license_card_image image_alt="" button_url=license_url button_label="See the license" %}
      </div>
    </div>
  </div>

  {% if show_ml_post_auth_modal %}
    {% include "v3/includes/_mailing_list_post_auth_modal.html" with post_auth_modal_subscribe_url=post_auth_modal_subscribe_url post_auth_modal_mailing_lists=post_auth_modal_mailing_lists post_auth_modal_user_email=post_auth_modal_user_email %}
  {% endif %}
{% endblock %}
