{% extends 'base.html' %}
{% comment %}
Template for the V3 version of the library page.
Inputs:
  - object_list:      list, required - List of LibraryVersion Ojbects to be displayed. Determined using the selected version as determined by the URL. Defaults to Latest
  - library_view_str: str, required  - Determines which View of libraries to display. Determined by the URL, defaults to List, or the last selected view if the user has changed it.
{% endcomment %}
{% load static %}

{% block title %}
  Library
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% static 'css/v3/library-page.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="library-page__container">
    <section class="library-page-hero hero-home hero-home--no-image" aria-label="Hero">
      <div class="hero-home__block">
        <div class="hero-home__content">
          <h1 class="hero-home__headline">Find a battle-tested library for the problem you're solving right now.</h1>
          <div class="hero-home__actions">
            {% include 'v3/includes/_field_text.html' with label='Search' name='ex_search' placeholder='Keyword, name, etc.' icon_left='search' submit_icon='arrow-right' %}
          </div>
        </div>
        <div class="hero-library__image">
          <img alt="" class="hero-library__img" src="{% static 'img/v3/solo-images/beaver-black-and-white.png' %}" loading="lazy" decoding="async" />
        </div>
      </div>
    </section>
    <form action="" method="get">
      <div id="library-page-filter-container" class="mb-xl">
        {% include 'v3/includes/_library_filter.html' with filter_id='library-page-filter' fields=library_filter_fields %}
      </div>
    </form>
    {% if library_view_str == 'list' %}
      <ul class="library-item-list">
        <li class="library-page__list-header library-item--list">
          <div class="library-page__list-header-flex"><span class="library-page__list-header-text">Library name</span>{% include "includes/icon.html" with icon_name="chevron-down" icon_size=16 %}</div>
          <div class="library-page__list-header-flex"><span class="library-page__list-header-text">Description</span>{% include "includes/icon.html" with icon_name="chevron-down" icon_size=16 %}</div>
          <div class="library-page__list-header-flex"><span class="library-page__list-header-text">Category</span>{% include "includes/icon.html" with icon_name="chevron-down" icon_size=16 %}</div>
          <div class="library-page__list-header-flex"><span class="library-page__list-header-text">Author</span>{% include "includes/icon.html" with icon_name="chevron-down" icon_size=16 %}</div>
          <div class="library-page__list-header-flex library-page_list-header-justify"><span class="library-page__list-header-text">Version</span>{% include "includes/icon.html" with icon_name="chevron-down" icon_size=16 %}</div>
          <div></div>
        </li>
        {% for item in object_list %}
          {% include 'v3/includes/_library_item.html' with variant=library_view_str library_name=item.library.name library_url=item.library_detail_url_for_version description=item.description categories=item.library.category_tags cpp_version=item.cpp_standard_minimum author=item.author_details doc_url=item.documentation_url version_str=version_str only %}
        {% endfor %}
      </ul>
    {% elif library_view_str == 'grid' %}
      <div class="library-item-card-grid">
        {% for item in object_list %}
          {% include 'v3/includes/_library_item.html' with variant=library_view_str library_name=item.library.name library_url=item.library_detail_url_for_version description=item.description categories=item.library.category_tags cpp_version=item.cpp_standard_minimum author=item.author_details doc_url=item.documentation_url version_str=version_str only %}
        {% endfor %}
      </div>
    {% elif library_view_str == 'categorized' or library_view_str == 'grading' %}
      {% for result in library_versions_by_category %}
      <section>
        <h2 class="library-page__category-header">{{ result.category }}</h2>
        <ul class="library-item-list grouped">
          {% for item in result.library_version_list %}
            {% include 'v3/includes/_library_item.html' with variant='list' library_name=item.library.name library_url=item.library_detail_url_for_version description=item.description categories=item.library.category_tags cpp_version=item.cpp_standard_minimum author=item.author_details doc_url=item.documentation_url version_str=version_str only %}
          {% endfor %}
        </ul>
      </section>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block footer_js %}
  {{ block.super }}
  <script>
    const filterSection = document.getElementById('library-page-filter-container')
    filterSection.addEventListener('field-change', function (event) {
      const value = event.detail.value
      const name = event.detail.name
      if (name == 'view') {
        switch (value) {
          case 'grid':
            window.location.assign("{% url 'libraries-list' version_slug=version_str library_view_str='grid'  %}")
            break
          case 'list':
            window.location.assign("{% url 'libraries-list' version_slug=version_str library_view_str='list'  %}")
            break
          case 'categorized':
            window.location.assign("{% url 'libraries-list' version_slug=version_str library_view_str='categorized'  %}")
            break
          case 'grading':
            window.location.assign("{% url 'libraries-list' version_slug=version_str library_view_str='grading'  %}")
            break
          default:
            console.error(`Value ${value} is unknown, please reload the page.`)
        }
      }
    })
  </script>
{% endblock %}
