{% extends 'base.html' %}
{% load static %}

{% block title %}
  User Profile
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% static 'css/v3/user-profile-page.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="user-profile__container">
    <div class="user-profile__profile-card-row">
      {% with user_info as user %}
      {% include 'v3/includes/_user_card.html' with username=user.user_name avatar_url=user.avatar_url badge_name=user.featured_badge.name badge=user.featured_badge.badge member_since=user.member_since role=user.role flag_emoji='🇺🇸' compact=True %}
      {% endwith %}
      <div class="user-profile__button-group">
        {% include "v3/includes/_button.html" with label="GitHub" url="#" icon_name="pixel-github" icon_position="right" style="secondary" icon_viewbox="0 0 16 16" only %}
        {% include "v3/includes/_button.html" with label="Website" url="#" icon_name="pixel-computer" icon_position="right" style="secondary" icon_viewbox="0 0 16 16" only %}
        {% include "v3/includes/_button.html" with label="Email" url="#" icon_name="pixel-email" icon_position="right" style="secondary" icon_viewbox="0 0 16 16" only %}
        {% include "v3/includes/_button.html" with label="Chat on Slack" url="#" icon_name="pixel-slack" icon_position="right" style="secondary" icon_viewbox="0 0 16 16" only %}
        {% include "v3/includes/_button.html" with label="Edit Profile" url="#" icon_name="pixel-pencil" icon_position="right" style="secondary" icon_viewbox="0 0 16 16" only %}
      </div>
    </div>
    <div class="user-profile__profile-content-area">
      <div class="user-profile__col">
        <div class="user-profile__bio">
          {% include 'v3/includes/_user_profile_bio_card.html' with title='Bio' markdown=bio contributor_data=contributor_data only %}
        </div>
        <div class="user-profile__github">
          {% with data=github_activity_card_data %}
            {% include 'v3/includes/_markdown_card.html' with title=data.title markdown=data.markdown_text button_url=data.button_url button_label=data.button_label %}
          {% endwith %}
        </div>
        <div class="user-profile__mailing-list">
          {% with data=mailing_list_activity_card_data %}
            {% include 'v3/includes/_mailing_list_activity_card.html' with title=data.title mailing_list_items=data.mailing_list_items %}
          {% endwith %}
        </div>
      </div>
      <div class="user-profile__col">
        <div class="user-profile__achievements">
          {% include "v3/includes/_achievement_card.html" with achievements=achievements_data.achievements primary_button_url="https://www.example.com" %}
        </div>
        <div class="user-profile__badges">
          {% include "v3/includes/_badges_card.html" with cta_url="#" cta_label="Explore available badges and how to earn them" empty_icon_srcs=badge_icon_srcs badges=demo_badges %}
        </div>
        <div class="user-profile__posts">
          {% include "v3/includes/_post_card.html" with heading="Posts" items=posts variant="card" theme="teal" primary_cta_label=profile_post_cta_label primary_cta_url=profile_post_cta_url %}
        </div>
        <div class="user-profile__connections">
          {% include "v3/includes/_account_connections_card.html" with connections=account_connections_none_connected %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
