{% extends 'base.html' %}
{% load static %}

{% block title %}
  User Profile
{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link href="{% static 'css/v3/user-profile-page.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="user-profile__container">
    {% with user=request.user %}
      <div class="user-profile__profile-card-row">
        {% include 'v3/includes/_user_card.html' with username=user.display_name avatar_url=user.get_avatar_url badge_name='Bug Catcher' badge_icon_src='/img/badge.png' member_since='2008' role='Board Member' flag_emoji='🇺🇸' compact=True %}
      </div>
      <div class="user-profile__profile-content-area">
        <div class="user-profile__profile-content-column--left">
          <div class="user-profile__bio">
            {% include 'v3/includes/_markdown_card.html' with title='Bio' markdown='Add a short bio to tell the community who you are, what you work on, or what you’re passionate about.' only %}
          </div>
          <div class="user-profile__achievements">
            {% include "v3/includes/_achievement_card.html" %}
          </div>
          <div class="user-profile__badges">
            {% include "v3/includes/_badges_card.html" with cta_url="#" cta_label="Explore available badges and how to earn them" empty_icon_srcs=badge_icon_srcs %}
          </div>
          <div class="user-profile__github">
            {% with data=github_activity_card_data %}
              {% include 'v3/includes/_markdown_card.html' with title=data.title markdown=data.markdown_text button_url=data.button_url button_label=data.button_label %}
            {% endwith %}
          </div>
          <div class="user-profile__posts">
            {% include "v3/includes/_post_card.html" with heading="Posts" items=posts variant="card" theme="teal" primary_cta_label="Create a post" primary_cta_url="#" %}
          </div>
          <div class="user-profile__mailing-list">
            {% with data=mailing_list_activity_card_data %}
              {% include 'v3/includes/_mailing_list_activity_card.html' with title=data.title mailing_list_items=data.mailing_list_items %}
            {% endwith %}
          </div>
        </div>
        <div class="user-profile__profile-content-column--right">
          <div class="user-profile__achievements">
            {% include "v3/includes/_achievement_card.html" %}
          </div>
          <div class="user-profile__badges">
            {% include "v3/includes/_badges_card.html" with cta_url="#" cta_label="Explore available badges and how to earn them" empty_icon_srcs=badge_icon_srcs %}
          </div>
          <div class="user-profile__posts">
            {% include "v3/includes/_post_card.html" with heading="Posts" items=posts variant="card" theme="teal" primary_cta_label="Create a post" primary_cta_url="#" %}
          </div>
        </div>
      </div>
    {% endwith %}
  </div>
{% endblock %}
