{% extends "users/profile_base.html" %}

{% load i18n %}

{% block content %}
  <div class="container">
    <h1>{% trans "Delete Account" %}</h3>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div>
        {% include "includes/_form_input.html" %}
      </div>
      {% endfor %}
      <button class="py-2 px-3 text-sm text-white rounded bg-orange" type="submit">
        {% trans 'Confirm' %}
      </button>
      <a href="{% url 'profile-account' %}">Cancel</a>
    </form>
  </div>
{% endblock content %}
