{% extends "users/profile_base_new.html" %}

{% load static i18n %}

{% block content %}
<div class="container">
  <div class="md:flex md:space-x-6 mt-6">
    <div class="md:w-1/2">
      <h3>{% trans "Update Preferences" %}</h3>

      <form method="POST" action=".">
        {% csrf_token %}
        <h5 class="font-bold mt-4">Notify me via email when:</h5>
        {{ profile_preferences_form.errors }}
        {% for field in profile_preferences_form.visible_fields %}
        <div>
          {% include "includes/_form_input.html" with form=profile_preferences_form field=field %}
        </div>
        {% endfor %}
        <div class="mt-4">
          <button name="update_preferences" class="py-2 px-3 text-sm text-white rounded bg-orange" type="submit">Update Preferences</button>
        </div>
      </form>
    </div>

    <div class="md:w-1/2">
        <h3>{% trans "Update Profile Photo" %}</h3>

        {% if user.github_username %}
          <form method="POST" action=".">
            {% csrf_token %}
            <button name="update_github_photo" class="py-2 px-3 text-sm text-white rounded bg-orange" type="submit">Use My GitHub Photo</button>
          </form>
        {% endif %}

        <form method="POST" enctype="multipart/form-data" action=".">
          {% csrf_token %}
          {% for field in profile_photo_form.visible_fields %}
          <div>
            {% include "includes/_form_input.html" with form=profile_photo_form field=field %}
          </div>
          {% endfor %}
          <div class="mt-4">
              <button name="update_photo" class="py-2 px-3 text-sm text-white rounded bg-orange" type="submit">Upload Profile Photo</button>
          </div>
        </form>

        <div class="mt-24">
          <h3>{% trans "Set Password" %}</h3>

          <form method="POST" action="." class="password_set">
            {% csrf_token %}
            {% for field in change_password_form.visible_fields %}
            <div>
              {% include "includes/_form_input.html" with form=change_password_form field=field %}
            </div>
            {% endfor %}
            <div class="mt-4">
              <button name="change_password" class="py-2 px-3 text-sm text-white rounded bg-orange" type="submit">Set Password</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
