{% extends "base.html" %}

{% load static %}

{% block subnav %}
  <div class="flex items-center py-3 px-4 border-b md:px-0 md:border-0 border-slate">
    <div>
      {% if user.image %}
        <div class="h-[80px] w-[80px] overflow-hidden rounded border border-gray-400 dark:border-gray-500">
          <img src="{{ user.image.url }}" alt="user" class="h-full w-full object-cover" />
        </div>
      {% else %}
        <span class="block relative h-[80px] w-[80px] bg-white rounded dark:text-white mt-1 dark:bg-slate border border-gray-400 dark:border-gray-500">
          <i class="mr-2 text-7xl fas fa-user absolute bottom-0 left-2"></i>
        </span>
      {% endif %}
    </div>
    <div class="ml-4 text-base">
      <span class="block">{{ user.get_full_name }}</span>
      <span class="text-xs text-slate dark:text-white/60  ">Joined {{ user.date_joined }}</span>
    </div>
  </div>
{% endblock %}
