{% load static %}
<!DOCTYPE html>
<html lang="en" class="v3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pattern Library</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link href="{% static 'css/components.css' %}" rel="stylesheet">
  <link href="{% static 'css/boostlook.css' %}" rel="stylesheet">
  <link href="{% static 'css/v3/components.css' %}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js" defer></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="{% static 'js/theme_handling.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/highlight.js' %}"></script>
  <script src="{% static 'js/highlight-block.js' %}"></script>
  <script src="{% static 'js/code-block.js' %}" defer></script>
  <script src="{% static 'js/install-card.js' %}" defer></script>
  <script src="{% static 'js/carousel.js' %}" defer></script>
  <script src="{% static 'js/dialog.js' %}" defer></script>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
