{% comment %}
  This card lists the achievements for a user. If not provided a list of achievements, instead give a demonstration of achievements and link to the about page
    Inputs:
      Achievements - Optional: A list of achievements, each of which has points, a title, and a description
{% endcomment %}

<div class="card wide-card py-large">
  <div class="card__header">
    <h3 class="card__title">Achievements</h3>
  </div>
  <hr class="card__hr" />
  <div class="card__column px-large">
    <div class="achievement-card__container">
      {% for ach in achievements %}
        <div class="achievement-card__achievement">
          <div class="achievement-card__points-badge">
            <p class="achievement-card__points-badge-content">{{ ach.points }}</p>
          </div>
          <div class="achievement-card__description">
            <p class="achievement-card__ach-text text-primary">{{ ach.title }}</p>
            <p class="achievement-card__ach-text text-secondary">{{ ach.description }}</p>
          </div>
        </div>
      {% empty %}
        <div class="achievement-card__achievement achievement-card__achivement-example">
          <div class="achievement-card__points-badge">
            <span class="achievement-card__points-badge-content">19</span>
          </div>
          <div class="achievement-card__description">
            <p class="achievement-card__ach-text text-primary">Patch Wizard</p>
            <p class="achievement-card__ach-text text-secondary">Submitted patch that was reviewed and merged</p>
          </div>
        </div>
        <div class="achievement-card__achievement achievement-card__achivement-example">
          <div class="achievement-card__points-badge">
            <span class="achievement-card__points-badge-content">7</span>
          </div>
          <div class="achievement-card__description">
            <p class="achievement-card__ach-text text-primary">Consensus Builder</p>
            <p class="achievement-card__ach-text text-secondary">Guided technical discussion toward agreement</p>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if not achievements %}
      <span class="achievement-card__bold-text">Showcase your contributions and milestones as you participate in the community.</span>
    {% endif %}
  </div>
  {% if not achievements %}
    <div class="px-large card__cta_section">
      {% include 'v3/includes/_button.html' with style=primary_style url=primary_button_url label='Learn how achievements work' only %}
    </div>
  {% endif %}
</div>
