{% load branch_url_tag %} {% comment %} V3 Branch Buttons Links that switch the
current page to the Master / Develop Boost version. URLs are derived from the
current view via branch_url_tag, which swaps the version_slug. Requires the
`request` context processor (project default). {% endcomment %}
<div class="branch-buttons" role="group" aria-label="Switch branch">
  <a
    class="branch-button"
    href="{% branch_url_tag request.resolver_match.view_name branch='master' kwargs=request.resolver_match.kwargs %}"
    title="Master"
    aria-label="Master"
  >
    <span class="branch-button__square">
      {% include "includes/icon.html" with icon_name="git-branch"
      icon_class="branch-button__icon" icon_size=16 icon_viewbox="0 0 16 16" %}
    </span>
    <span class="branch-button__badge" aria-hidden="true">M</span>
  </a>
  <a
    class="branch-button"
    href="{% branch_url_tag request.resolver_match.view_name branch='develop' kwargs=request.resolver_match.kwargs %}"
    title="Develop"
    aria-label="Develop"
  >
    <span class="branch-button__square">
      {% include "includes/icon.html" with icon_name="git-branch"
      icon_class="branch-button__icon" icon_size=16 icon_viewbox="0 0 16 16" %}
    </span>
    <span class="branch-button__badge" aria-hidden="true">D</span>
  </a>
</div>
