{% comment %}
  Light wrapper for V3 Components, mapping a Django bound_field into a template for rendering
  Variables:
    bound_field:  (required)  - django bound field to be rendered. Can be accessed either by iterating on a django form, or through dot notation for a specific field
  Usage:
    {% include 'v3/includes/_field_include.html' with bound_field=user_profile_form.role %}
{% endcomment %}

{% load core_tags %}

{% with type=bound_field.widget_type field=bound_field.field widget=bound_field.field.widget %}
  {% if type == 'email' %}
    {% include 'v3/includes/_field_text.html' with name=bound_field.name value=bound_field.value type='email' label=bound_field.label required=field.required disabled=field.disabled help_text=field.help_text placeholder=widget.attrs.placeholder only %}
  {% elif type == 'text' %}
    {% include 'v3/includes/_field_text.html' with name=bound_field.name value=bound_field.value type='text' label=bound_field.label required=field.required disabled=field.disabled help_text=field.help_text placeholder=widget.attrs.placeholder only %}
  {% elif type == 'checkbox' %}
    {% include 'v3/includes/_field_checkbox.html' with name=bound_field.name label=bound_field.label required=field.required disabled=field.disabled help_text=field.help_text checked=bound_field.value only %}
  {% elif type == 'checkboxselectmultiple' %}
    <div class="checkbox__multi-checkbox-column">
    {% for option in field.choices %}
      {% generate_uuid as uuid %}
      {% if option.0 in bound_field.value %}
        {% include 'v3/includes/_field_checkbox.html' with id=uuid name=bound_field.name value=option.0 label=option.1 required=field.required disabled=field.disabled checked=True only %}
      {% else %}
        {% include 'v3/includes/_field_checkbox.html' with id=uuid name=bound_field.name value=option.0 label=option.1 required=field.required disabled=field.disabled only %}
      {% endif %}
    {% endfor %}
    </div>
  {% elif type == "select" %}
    {% include 'v3/includes/_field_dropdown.html' with name=bound_field.name label=bound_field.label selected=bound_field.value options=field.choices disabled=field.disabled placeholder=widget.attrs.placeholder %}
  {% else %}
    {{ type }}
  {% endif %}
{% endwith %}
