{% comment %}
Card for displaying a boost library along with learn links, along with a large eye catching image
Inputs:
  - title(required) - Title for the top of the card
  - text (required) - A short description under the header, before the linebreaks
  - links (required) - A list of links, earch with a label and url
  - label (required) - Label for the hero button
  - url (required) - Url for the hero button
  - image_src (required) - Url at which the image can be found
{% endcomment %}
<div class="card learn-card p-large">
  <div class="learn-card__row">
    <div class="learn-card__column">
      <div class="card__column">
        <div class="card__column">
          <span class="learn-card__title">{{ title }}</span>
          <span class="learn-card__text">{{ text }}</span>
          <div class="gap-default card__column mb-xxl">
            {% for link in links %}
              <a href="{{ link.url }}" class="learn-card__link-tag">
                <span class="learn-card__link-container">
                  <svg class="learn-card__link-icon"
                       width="16"
                       height="16"
                       viewBox="0 0 16 16"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.99984 10.6667H10.6665V12H11.9998V10.6667H13.3332V9.33335H11.9998V8.00002H10.6665V9.33335H3.99984V2.66669H2.6665V10.6667H3.99984ZM10.6665 8.00002V6.66669H9.33317V8.00002H10.6665ZM10.6665 12V13.3334H9.33317V12H10.6665Z" />
                  </svg>
                  <span class="learn-card__link">{{ link.label }}</span>
                </span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card__cta_section">{% include "v3/includes/_button_hero.html" with label=label url=url %}</div>
    </div>
    <div class="square-card-image">
      <img src="{{ image_src }}" />
    </div>
  </div>
</div>
