{% comment %}
Card for displaying a boost library along with learn links, along with a large eye catching image
Inputs:
  - title(required) - Title for the top of the card
  - text (required) - A short description under the header, before the linebreaks
  - links (required) - A list of links, earch with a label and url
  - label (required) - Label for the hero button
  - url (required) - Url for the hero button
  - image_src (required) - Url at which the image can be found
  - mobile_image_src (required) - Url at which the mobile version of the image can be found
  - image_alt (required) - Alt text for the image
{% endcomment %}
<div class="card learn-card p-large">
  <div class="learn-card__row">
    <div class="learn-card__column">
      <div class="card__column">
        <div class="card__column">
          <span class="learn-card__title">{{ title }}</span>
          <span class="learn-card__text">{{ text }}</span>
          <div class="gap-default card__column learn-card__link-column">
            {% for link in links %}
              <a href="{{ link.url }}" class="learn-card__link-tag">
                <span class="learn-card__link-container">
                  {% include "includes/icon.html" with icon_name="arrow-down-right" icon_class="learn-card__link-icon" icon_size=16 icon_viewbox="0 0 16 16" %}
                  <span class="learn-card__link">{{ link.label }}</span>
                </span>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card__cta_section">{% include "v3/includes/_button_hero.html" with label=label url=url %}</div>
    </div>
    <div class="square-card-image">
      <picture>
        <source media="(max-width: 1279px)" srcset="{{mobile_image_src}}">
        <img src="{{image_src}}" alt="{{image_alt}}">
      </picture>
    </div>
  </div>
</div>
