{% comment %}
  Thread archive card. Links to the latest mailing list threads, as well as the archive.

  NOTE: This currently contains a placeholder image that should be replaced.
{% endcomment %}
{% load static %}
<div class="basic-card thread-archive-card card">
  <div class="card__header">
    <span class="card__title">Explore The Boost Developers Mailing List</span>
  </div>
  <hr class="card__hr" />
  <div class="card__column px-large">
    <img src="{% static 'img/checker.png' %}">
  </div>
  <hr class="card__hr" />
  <div class="card__cta_section">
    {% include "v3/includes/_button.html" with style="primary" url="https://lists.boost.org/archives/list/boost@lists.boost.org/latest" label="Recent Threads" only %}
    {% include "v3/includes/_button.html" with style="secondary" url="https://lists.boost.org/archives/list/boost@lists.boost.org/" label="View Archive" only %}
  </div>
</div>
