<section class="v3-examples-section" aria-labelledby="v3-examples-heading">
  <h2 id="v3-examples-heading" class="v3-examples-section__heading">V3 examples</h2>
  <div class="v3-examples-section__block">
    <h3>Tooltip button</h3>
    <div class="v3-examples-section__tools">
      {% include "v3/includes/_button_tooltip_v3.html" with label="Top" position="top" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="Right" position="right" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="Bottom" position="bottom" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="Left" position="left" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="More information here" position="bottom" button_text="Info" %}
    </div>
  </div>
  <div class="v3-examples-section__block v3-examples-section__block--carousel">
    <h3>Carousel buttons</h3>
    {% include "v3/includes/_carousel_buttons.html" %}
  </div>
</section>
