<section class="v3-examples-section" aria-labelledby="v3-examples-heading">
  <h2 id="v3-examples-heading" class="v3-examples-section__heading">V3 examples</h2>
  <div class="v3-examples-section__block v3-examples-section__block--buttons">
    <h3>Buttons</h3>
    {% include "v3/includes/_v3_buttons_block.html" %}
  </div>
  <div class="v3-examples-section__block">
    <h3>Tooltip button</h3>
    <div class="v3-examples-section__tools">
      {% include "v3/includes/_button_tooltip_v3.html" with label="Top" position="top" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="Right" position="right" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="Bottom" position="bottom" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="Left" position="left" button_text="Help" %}
      {% include "v3/includes/_button_tooltip_v3.html" with label="More information here" position="bottom" button_text="Info" %}
    </div>
  </div>
  <div class="v3-examples-section__block v3-examples-section__block--carousel">
    <h3>Carousel buttons</h3>
    {% include "v3/includes/_carousel_buttons.html" %}
  </div>
  <div class="v3-examples-section__block">
    <h3>Post card (standalone)</h3>
    {% with post_title="A talk by Richard Thomson at the Utah C++ Programmers Group" post_url="#" post_date="03/03/2025" post_category="Issues" post_tag="beast" author_name="Richard Thomson" author_role="Contributor" author_show_badge=True %}
      {% include "v3/includes/_post_card_v3.html" %}
    {% endwith %}
  </div>
  <div class="v3-examples-section__block">
    <h3>Post cards</h3>
    <section class="post-cards post-cards--default post-cards--neutral post-cards--vertical">
      <h2 class="post-cards__heading">
        <a href="#" class="post-cards__heading-link">Posts from the Boost community</a>
      </h2>
      <ul class="post-cards__list">
        <li class="post-cards__item">
          {% with post_title="A talk by Richard Thomson at the Utah C++ Programmers Group" post_url="#" post_date="03/03/2025" post_category="Issues" post_tag="beast" author_name="Richard Thomson" author_role="Contributor" author_show_badge=True %}
            {% include "v3/includes/_post_card_v3.html" %}
          {% endwith %}
        </li>
        <li class="post-cards__item">
          {% with post_title="A talk by Richard Thomson at the Utah C++ Programmers Group" post_url="#" post_date="03/03/2025" post_category="Issues" post_tag="beast" author_name="Peter Dimov" author_role="Maintainer" author_show_badge=True %}
            {% include "v3/includes/_post_card_v3.html" %}
          {% endwith %}
        </li>
      </ul>
      <div class="post-cards__cta">
        <a href="#" class="btn btn-secondary-grey">View all posts</a>
      </div>
    </section>
  </div>
</section>
