.contributors-list .card__column {
    gap: var(--space-medium);
}

.contributors-list.all-contributors {
    max-width: 100%;
}

.contributors-list.all-contributors .card__column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 768px) {
    .contributors-list.all-contributors .card__column {
        grid-template-columns: 1fr;
    }

    .contributors-list {
        max-height: 80vh;
        overflow-y: auto;
    }
}
