.contributors-list .card__column {
    gap: var(--space-medium);
}

.contributors-list.all-contributors {
    max-width: 100%;
}

.contributors-list.all-contributors .card__column {
    flex-direction: row;
    flex-wrap: wrap;
}

.contributors-list.all-contributors .card__column .user-profile {
    flex: 1 0 14%;
    min-width: 200px;
}


@media (max-width: 768px) {
    .contributors-list.all-contributors .card__column .user-profile {
        flex-basis: 51%;
    }

    .contributors-list {
        max-height: 80vh;
        overflow-y: auto;
    }
}
