.library-page-hero .hero-home__block {
    padding: 0;
    height: fit-content;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    position: relative;
    min-height: fit-content;
}

.library-page-hero .hero-home__actions {
    width: 100%;
}

.library-page-hero .hero-home__actions .field {
    width: 75%;
}

.library-page-hero .hero-home__content {
    margin: 0;
}

.library-page-hero .hero-library__image {
    height: 160px;
    width: auto;
}

.library-page-hero .hero-home__headline {
    font-size: var(--font-size-2xl);
    letter-spacing: -0.4px;
}

.library-item-list {
    border: 1px solid var(--color-stroke-weak);
    border-radius: var(--border-radius-xl);
    overflow: hidden;
}

.library-item-list .library-item--list:last-child {
    border-bottom: none;
}

.library-item-list.grouped {
    margin-bottom: var(--space-large);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.library-page__list-header {
    display: grid;
    width: 100%;
    border-bottom: 1px solid var(--color-stroke-weak);
    background: var(--color-surface-weak);
    padding: var(--space-large);
}

.library-page__list-header-flex {
    display: flex;
    gap: var(--space-large);
    align-items: center;
}

.library-page_list-header-justify {
    justify-self: center;
    padding-left: calc(16px + var(--space-large));
}

.library-page__list-header-text {
    color: var(--color-text-secondary);

    font-family: var(--font-sans);
    font-size: var(--font-sizes-small);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-tight);
}

.library-page__category-header {
    grid-column: 1 / -1;
    padding: var(--space-large);
    border-bottom: 1px solid var(--color-stroke-weak);
    background: var(--color-surface-mid);
    width: 100%;
    margin: 0;
    max-width: 1408px;
    border-top-left-radius: var(--border-radius-xl);
    border-top-right-radius: var(--border-radius-xl);
    border: 1px solid var(--color-stroke-weak);
}

.grouped .library-item--list:first-child {
    border-radius: 0;
    border-top: none;
}


@media (max-width: 767px) {
    .library-page__list-header {
        display: none;
    }

    .library-page-hero .hero-home__actions .field {
        width: 100%;
    }

    .library-page__container {
        margin-left: var(--space-medium);
        margin-right: var(--space-medium);
    }
}
