.card__column.markdown-content {
    gap: var(--space-medium);
}

.markdown-content ul {
    list-style: inside;
}

.markdown-content a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
}

.markdown-content {
    color: var(--color-text-secondary);
    padding: 0 var(--space-large);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-default);
    /* 16.8px */
    letter-spacing: var(--letter-spacing-tight);
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  color: var(--color-text-primary);
  font-family: var(--font-display);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-tight);
  margin: var(--space-default) 0 0;
}

.markdown-content h1 { font-size: var(--font-size-large); }
.markdown-content h2 { font-size: var(--font-size-medium); }
.markdown-content h3 { font-size: var(--font-size-base); }
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 { font-size: var(--font-size-small); }

.markdown-content b,
.markdown-content strong {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium);
}

.markdown-card p {
  padding: 0;
  margin: 0;
}
