.post-content-container h1 {
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    margin-bottom: var(--space-default);
}

.post-content-container {
    margin-top: var(--space-xl);
    padding-left: var(--space-large);
    padding-right: var(--space-large);
}


/*
#####################################
#           Column Layout           #
#####################################
*/

.post-content-layout {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: var(--space-large);
    margin-bottom: var(--space-xxl);
    grid-template-areas:
    "a b c"
    "d b c"
    ". b ."
    ;
}


.subheading {
    grid-area: a
}

.post-content__filter_column {
    grid-area: d;
}

.post-content__content_column {
    grid-area: b;
}

.post-content__user_card_column {
    grid-area: c;
}

/*
#####################################################
#   Left Column Content, fields, and filter tags    #
#####################################################
*/

.subheading {
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-tight);
    padding: 0;
    margin-bottom: var(--space-large);
}

.filter__tags-label {
    margin-top: var(--space-xlarge);
    padding: 0;
    padding-bottom: var(--space-medium);
}

.filter__tags {
    margin-bottom: var(--space-xlarge);
}


/*
#################################################
#   Override Post card stylings for this page   #
#################################################
*/

.card-group {
    max-width: 100%;
}

.card-group__item:last-child {
    border-bottom: none;
}

.post-card__summary {
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-tight);
}

.post-card__row {
    display: flex;
    flex-direction: row;
    gap: var(--space-medium);
}

.post-card__thumbnail {
    flex: 1 0 auto;
    align-self: flex-start;
    position: relative;
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.post-card__thumbnail img {
    width: 160px;
    height: auto;
}

.post-card__play-icon {
    display: flex;
    width: 24px;
    height: 24px;
    padding: var(--space-s);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--color-icon-brand-accent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
###################################
#   Mobile and Tablet Stylings    #
###################################
*/


@media (max-width: 768px) {
    .post-content-layout {
        grid-template-columns: 100%;
        grid-template-areas:
        "a"
        "c"
        "d"
        "b"
        ;
    }

    .post-content__user_card_column {
        margin-bottom: var(--space-xl);
    }

    .post-content__filter_column {
        margin-bottom: var(--space-xl);
    }

    .post-card__row {
        flex-direction: column-reverse;
    }

    .post-card__thumbnail {
        width: 100%;
    }

    .post-card__thumbnail img {
        width: 100%;
    }

    .post-card__play-icon {
        height: 32px;
        width: 32px;
    }
}


/*
##########################
#   Filter Submit Button #
##########################
*/

.filter-submit-button {
    margin: var(--space-large) 0;
}
