.testimonial-card {
    display: flex;
    max-width: 696px;
    width: 100%;
    padding: var(--space-large, 16px) 0;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-large, 16px);
    border-radius: var(--space-medium, 12px);
    border: 1px solid var(--color-stroke-weak, rgba(5, 8, 22, 0.10));
    background: var(--color-surface-weak, #FFF);
}

.testimonial-card__heading {
    display: flex;
    padding: 0 var(--space-large, 16px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.testimonial-card__heading-rule {
    width: 696px;
    height: 1px;
    background: var(--color-stroke-weak, rgba(5, 8, 22, 0.10));
}

.testimonial-card__title {
    color: var(--color-text-primary, #050816);

    /* Display/Desktop/Medium/Large */
    font-family: var(--font-display, "Mona Sans Display SemiCondensed");
    font-size: var(--font-sizes-large, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 24px */
    letter-spacing: -0.24px;
}

.testimonial-card__carousel {
    display: flex;
    padding: 0 var(--space-large, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-large, 16px);
    align-self: stretch;
}

.testimonial-card__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.testimonial-card__text-wrapper {
    display: flex;
    padding: var(--space-xl, 32px);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--space-xl, 32px);
    background: var(--color-surface-mid, #F7F7F8);
}

.testimonial-card__text {
    color: var(--color-text-primary, #050816);

    /* Sans/Desktop/Regular/XL */
    font-family: var(--font-sans, "Mona Sans VF");
    font-size: var(--font-size-xl, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 32px */
    letter-spacing: -0.32px;
}

.testimonial-card__text-tail {
    width: 32px;
    height: var(--space-xl, 32px);
    aspect-ratio: 1/1;
    fill: var(--color-surface-mid, #F7F7F8);
}

.testimonial-card__tail-wrapper {
    display: flex;
    padding: 0 var(--Chat-bubble-tail-left-padding, 60px);
    align-items: center;
}

.testimonial-card__author {
    display: flex;
    align-items: center;
    gap: var(--space-medium, 12px);
}

.testimonial-card__author-avatar {
    width: 48px;
    height: var(--space-avatar, 48px);
    aspect-ratio: 1/1;
    border-radius: var(--space-medium, 6px);
    background: url(<path-to-image>) lightgray -3.221px -4.536px / 117.821% 119.006% no-repeat;
}

.testimonial-card__author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-s, 4px);
}

.testimonial-card__author-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-s, 4px);
}

.testimonial-card__author-name-text {
    color: var(--color-text-primary, #050816);

    /* Sans/Desktop/Regular/XS/Default */
    font-family: var(--font-sans, "Mona Sans VF");
    font-size: var(--font-size-xs, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
    letter-spacing: -0.12px;
}

.testimonial-card__author-role {
    display: flex;
    height: 16px;
    justify-content: center;
    align-items: center;
    gap: var(--space-default, 8px);
}

.testimonial-card__author-role-text {
    color: var(--color-text-secondary, #585A64);

    /* Sans/Desktop/Regular/XS/Default */
    font-family: var(--font-sans, "Mona Sans VF");
    font-size: var(--font-size-xs, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
    letter-spacing: -0.12px;
}

.testimonial-card__author-role-badge {
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1;
}
